<template>
  <b-container fluid="xxxl" class="customer-dashboard">
    <b-row class="pt-5 gap-5">
      <b-col class="welcome-banner" cols="12">
        <div
          class="
            d-flex
            justify-content-between justify-content-lg-start
            align-items-center
          "
        >
          <h3 class="text-dark welcome-banner-text d-flex gap-2">
            <span>Welcome, </span
            ><span class="user-name d-inline-block d-lg-none">{{
              lastName
            }}</span>
            <span class="user-name d-none d-lg-inline">{{ lastName }}</span>
          </h3>
          <div v-if="false" class="d-block d-lg-none notifications-count">
            <b-button
              variant="link"
              class="text-dark p-0 position-relative"
              size="lg"
            >
              <b-icon icon="bell-fill"></b-icon>
              <b-badge pill variant="danger" class="position-absolute"
                >3</b-badge
              >
            </b-button>
          </div>
        </div>
      </b-col>
      <b-col
        class="info-section d-flex gap-4 flex-column flex-lg-row mb-3"
        cols="12"
      >
        <nuxt-link
          class="
            box
            purchases-box
            d-flex
            flex-row flex-lg-column
            justify-content-between
            align-items-center align-items-lg-start
            p-4
            gap-3
            order-2 order-lg-1
            text-decoration-none text-dark
          "
          :to="{ name: 'customer-properties' }"
        >
          <div class="box-header">
            <p>{{ (subscriptions && subscriptions.length) || 0 }}</p>
          </div>
          <p class="box-text mb-0">
            Ongoing <br />
            Purchases
          </p>
        </nuxt-link>
        <div
          v-if="subscriptions.rows && subscriptions.rows.length"
          class="
            box
            payment-box
            d-flex
            flex-row flex-lg-column
            justify-content-between
            align-items-center align-items-lg-start
            p-4
            gap-3
            order-3 order-lg-2
          "
        >
          <div class="box-header">
            <p class="mb-0">Apr 10</p>
            <small>NGN 500000</small>
          </div>
          <div>
            <p class="box-text mb-0">
              Next <br />
              Payment
            </p>
          </div>
        </div>
        <div
          v-if="false"
          class="
            d-none d-lg-flex
            box
            notifications-box
            flex-column
            justify-content-around
            px-4
            pt-3
            pb-4
            gap-3
            order-4 order-lg-3
          "
        >
          <div>
            <b-badge variant="danger" class="px-3 py-2" pill>New</b-badge>
          </div>
          <p class="box-text mb-0">
            You have <span>24</span> <br />
            unread messages
          </p>

          <b-button variant="outline-dark" squared>Open Notifications</b-button>
        </div>
        <nuxt-link
          class="
            box
            order-1 order-lg-4
            wallet-balance-box
            d-flex
            flex-column
            justify-content-between
            pt-4
            pb-5
            px-5
            gap-3
            text-dark text-decoration-none
          "
          :to="{ name: 'customer-wallet' }"
        >
          <p class="text-dark">Wallet Balance</p>
          <div>
            <p class="mb-0 wallet-balance">
              NGN {{ formatAsMoney($fromKobo(balance.balance || 0)) }}
            </p>
            <small
              >Balance as at
              {{ (balance.updated_at || balance.created_at) | luxon }}</small
            >
          </div>
        </nuxt-link>
      </b-col>
      <b-col v-if="subscriptions.length" class="properties-section">
        <h3 class="section-title">My Properties</h3>
        <section class="properties-grid d-flex gap-4 scrollbar">
          <nuxt-link
            v-for="subscription in subscriptions"
            :key="subscription.id"
            :to="`/customer/subscriptions/${subscription.id}`"
            class="text-decoration-none"
          >
            <property
              :property="subscription.product"
              half
              purchased
              :subscription="subscription"
            />
          </nuxt-link>
        </section>
      </b-col>
      <b-col v-if="products.rows" class="properties-section">
        <h3 class="section-title">Latest Properties</h3>
        <section class="properties-grid d-flex gap-4 scrollbar">
          <nuxt-link
            v-for="product in products.rows"
            :key="product.id"
            :to="`/customer/properties/${product.id}`"
            class="text-decoration-none"
          >
            <property :property="product" half />
          </nuxt-link>
        </section>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'CustomerDashboard',
  components: {
    Property: () => import('@/components/cards/Property'),
  },
  layout: 'customer',
  data() {
    return {
      statuses: ['completed', 'on_going', 'paused'],
    }
  },
  head() {
    return {
      title: 'LandShares || Dashboard',
    }
  },
  computed: {
    ...mapGetters({
      products: 'product/all',
      balance: 'wallet/balance',
      properties: 'product/subscriptions',
    }),
    username() {
      return (
        this.$auth.user &&
        `${this.$auth.user.lastname} ${this.$auth.user.firstname}`
      )
    },
    lastName() {
      return this.$auth.user && `${this.$auth.user.lastname}`
    },
    subscriptions() {
      return (
        (this.properties.rows &&
          this.properties.rows.filter((item) =>
            this.statuses.includes(item.status)
          )) ||
        []
      )
    },
  },
  async mounted() {
    const loader = this.$loading.show()
    try {
      await this.fetchProducts()
      await this.fetchBalance()
      await this.fetchSubscriptions({ customer_id: this.$auth.user.id })
    } catch (e) {
      await this.$Toast.fire({
        icon: 'error',
        title: this.$formatError(e),
      })
    }
    loader.hide()
  },
  methods: {
    ...mapActions({
      fetchProducts: 'product/all',
      fetchBalance: 'wallet/balance',
      fetchSubscriptions: 'product/subscriptions',
    }),
    formatAsMoney(value) {
      return new Intl.NumberFormat().format(value)
    },
  },
}
</script>
<style lang="scss" scoped>
.customer-dashboard {
  .welcome-banner-text {
    font: {
      size: toRes(30);
    }
    .user-name {
      font: {
        weight: 700;
      }
    }
  }
  .notifications-count {
    .badge {
      font-size: 0.45rem;
      right: 0;
      top: 1px;
    }
  }
  .info-section {
    .box {
      border: solid 1px var(--dark);
      min-width: toRes(250);
      min-height: toRes(250);

      @media screen and (max-width: 992px) {
        min-height: toRes(112);
      }
    }
    .box-header {
      p {
        font: {
          size: toRem(35);
          weight: 700;
        }
      }
      small {
        font: {
          size: toRes(15);
          family: $primary-font;
          weight: 400;
        }
        color: rgba($dark, 0.5);
      }
    }
    .box-text {
      font: {
        size: toRes(30);
        weight: 500;
      }
    }
    .payment-box {
      border: solid 2px var(--danger);
    }
    .notifications-box {
      .box-text {
        font: {
          size: toRes(25);
          weight: 500;
        }
      }
    }
    .wallet-balance-box {
      box-shadow: 0px 0px 30px #090d7c0d;
      @media screen and (min-width: 1024px) {
        min-width: auto;
        max-width: toRes(450);
        width: toRes(450);
      }
      border: 0;
      background: {
        image: url('~png/card-backdrop.png');
        position: bottom center;
        repeat: no-repeat;
      }

      & > p {
        font: {
          size: toRem(20);
          weight: 500;
        }
      }
      .wallet-balance {
        font: {
          size: toRem(25);
          family: $secondary-font;
        }
      }
      small {
        font: {
          size: toRem(15);
          weight: 400;
        }
        letter-spacing: toRes(-0.3);
        color: rgba($dark, 0.5);
      }
    }
  }
  .properties-section {
    .section-title {
      font: {
        size: toRes(30);
        weight: 600;
      }
    }
  }
  .properties-grid {
    overflow-x: auto;
    & > a {
      max-width: 50%;
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}
</style>
