<template>
  <div class="d-lg-flex cards-wrapper">
    <div
      class="
        r-card
        mr-4
        p-4
        d-flex
        flex-lg-column
        align-items-lg-start align-items-center
        justify-content-between
        commissions-reward
      "
    >
      <h2 class="text-white">NGN {{ formatAsMoney($fromKobo(sum)) }}</h2>

      <p class="text-white mt-lg-auto mb-0">
        Commission <br />
        Rewards
      </p>
    </div>
    <div
      class="
        r-card
        mr-3
        d-flex
        flex-lg-column
        justify-content-between
        align-items-lg-start align-items-center
        p-4
        other-realtor-cards
      "
      @click="$emit('switchTab', false)"
    >
      <h2 class="mb-0">{{ downline.length }}</h2>

      <p class="mt-lg-auto mb-0">Downlines</p>
    </div>
    <div
      class="
        r-card
        mr-3
        d-flex
        flex-lg-column
        align-items-lg-start align-items-center
        justify-content-between
        p-4
        other-realtor-cards
      "
      @click="$emit('switchTab', true)"
    >
      <h2 class="mb-0">{{ activeClients.length }}</h2>

      <p class="mt-lg-auto mb-0">
        Active <br />
        Clients
      </p>
    </div>
    <div
      class="
        r-card
        d-flex
        flex-lg-column
        align-items-lg-start align-items-center
        justify-content-between
        p-4
        other-realtor-cards
      "
      @click="$emit('switchTab', true)"
    >
      <h2 class="mb-0">{{ inActiveClients.length }}</h2>

      <p class="mt-lg-auto mb-0">
        Inactive <br />
        Clients
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      sum: 0,
    }
  },
  computed: {
    myCommissions() {
      // eslint-disable-next-line camelcase
      const { completed_sales_value, incompleted_sales_value } =
        this.$auth.user.realtor_tree
      // eslint-disable-next-line camelcase
      return this.$fromKobo(completed_sales_value + incompleted_sales_value)
    },
    downline() {
      return this.$auth.user.downline
    },
    allClients() {
      return this.$auth.user.clients
    },
    activeClients() {
      return this.allClients.filter(
        (item) => item.realtor_stage !== 'inactive_ambassador'
      )
    },
    inActiveClients() {
      return this.allClients.filter(
        (item) => item.realtor_stage === 'inactive_ambassador'
      )
    },
  },
  async mounted() {
    const loader = this.$loading.show()
    try {
      const res = await this.fetchTotalCommissions()
      loader.hide()
      this.sum = res.payload.sum
    } catch (e) {
      loader.hide()
      await this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
    }
  },
  methods: {
    ...mapActions({
      fetchTotalCommissions: 'customer/totalCommissions',
    }),
    formatAsMoney(amount) {
      return new Intl.NumberFormat().format(amount)
    },
  },
}
</script>

<style lang="scss" scoped>
.cards-wrapper {
  .r-card {
    height: 180px;
    border: 1px solid #000;

    @media screen and (max-width: 768px) {
      height: 100%;
      width: 100% !important;
      margin-bottom: 20px;
    }

    h2 {
      font-weight: 700;
      font-size: 29px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .commissions-reward {
    width: 40%;
    background: var(--primary);
  }
  .other-realtor-cards {
    width: 20%;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      height: 100px;
    }
  }

  .r-card:nth-child(2) {
    background: #fff;
  }

  .r-card:nth-child(3) {
    background: rgba(210, 250, 222, 0.253);
  }

  .r-card:nth-child(4) {
    border: 1px solid rgb(253, 180, 180);
    background: rgba(255, 205, 230, 0.205);
  }
}

@media screen and (max-width: 768px) {
  .r-card:nth-child(2),
  .r-card:nth-child(3),
  .r-card:nth-child(4) {
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      height: 70px;
      padding: 10px;
      border-radius: 50%;
    }
  }

  .r-card:nth-child(2) {
    h2 {
      background: #0014091f;
    }
  }

  .r-card:nth-child(3) {
    h2 {
      background: #006a3921;
    }
  }

  .r-card:nth-child(4) {
    h2 {
      background: #d8112f1a;
    }
  }
}
</style>
