<template>
  <div>
    <b-table
      :items="tableData.items"
      :fields="tableData.fields"
      responsive
      tbody-tr-class="table-light"
    >
      <!-- <template #table-caption>This is a table caption.</template> -->
    </b-table>
  </div>
</template>

<script>
export default {
  props: {
    tableData: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped></style>
