<!--suppress JSVoidFunctionReturnValueUsed -->
<template>
  <div class="mt-4 position-relative tabs-wrapper">
    <b-tabs v-if="defaults" pills content-class="mt-3" align="left">
      <b-tab exact-active-class="active">
        <template #title>
          <div class="tab">
            ACTIVE CLIENTS ({{ activeClients.items.length }})
          </div>
        </template>
        <Table :table-data="activeClients" />
      </b-tab>
      <b-tab exact-active-class="active">
        <template #title>
          <div class="tab">
            INACTIVE CLIENTS ({{ inActiveClients.items.length }})
          </div>
        </template>

        <Table :table-data="inActiveClients" />
      </b-tab>
      <!--      <b-tab title="PROSPETIVE CLIENTS" exact-active-class="active">-->
      <!--        <Table :table-data="tableData" />-->
      <!--      </b-tab>-->
      <b-tab exact-active-class="active">
        <template #title>
          <div class="tab">All CLIENTS ({{ allClients.items.length }})</div>
        </template>
        <Table :table-data="allClients" />
      </b-tab>
    </b-tabs>
    <b-tabs v-else pills content-class="mt-3" align="left">
      <b-tab exact-active-class="active">
        <template #title>
          <div class="tab" @click="generateDownline">
            <b-icon icon="grid-fill" class="mr-2"></b-icon>
            DOWNLINES
          </div>
        </template>
        <div ref="downline" style="max-height: 600px" />
      </b-tab>
      <b-tab exact-active-class="active">
        <template #title>
          <div class="tab" @click="generateGeneration">
            <b-icon icon="grid-fill" class="mr-2"></b-icon>
            GENERATION TREE
          </div>
        </template>
        <div ref="generation" style="max-height: 600px" />
      </b-tab>
    </b-tabs>

    <!-- <b-icon icon="search" class="mr-2 search-icon"></b-icon> -->
  </div>
</template>

<script>
import mitchTree from 'd3-mitch-tree'
import Table from './table'
import 'd3-mitch-tree/dist/css/d3-mitch-tree.min.css'
import 'd3-mitch-tree/dist/css/d3-mitch-tree-theme-default.min.css'
export default {
  components: {
    Table,
  },
  props: {
    defaults: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      tableData: {
        fields: ['FULL_NAME', 'PHONE_NUMBER'],
        items: [],
      },
    }
  },
  computed: {
    downline() {
      return this.$auth.user.downline
    },
    realtor() {
      return this.$auth.user.downline
    },
    allClients() {
      return {
        ...this.tableData,
        items: this.$auth.user.clients.map((item) => ({
          FULL_NAME: `${item.firstname} ${item.lastname}`,
          PHONE_NUMBER: item.phone,
        })),
      }
    },
    activeClients() {
      return {
        ...this.tableData,
        items: this.$auth.user.clients.map((item) => ({
          FULL_NAME: `${item.firstname} ${item.lastname}`,
          PHONE_NUMBER: item.phone,
        })),
      }
    },
    inActiveClients() {
      return {
        ...this.tableData,
        items: this.$auth.user.clients
          .filter((item) => item.realtor_stage === 'inactive_ambassador')
          .map((item) => ({
            FULL_NAME: `${item.firstname} ${item.lastname}`,
            PHONE_NUMBER: item.phone,
          })),
      }
    },
  },
  watch: {
    defaults(val) {
      if (!val) {
        this.generateDownline()
      }
    },
  },
  mounted() {
    this.tableData.items = this.downline.map((item) => ({
      FULL_NAME: `${item.firstname} ${item.lastname}`,
      PHONE_NUMBER: item.phone,
    }))
  },
  methods: {
    generateDownline() {
      const tree = {
        id: this.$auth.user.id,
        firstname: this.$auth.user.firstname,
        lastname: this.$auth.user.lastname,
        name: 'Me',
        description: 'Text',
        realtor_stage: this.$auth.user.realtor_stage.replace('_', ' '),
        downline: this.downline.map((item) => {
          const temp = { ...item }
          delete temp.downline
          return temp
        }),
      }
      setTimeout(() => {
        // eslint-disable-next-line
        const treePlugin = new mitchTree.boxedTree()
          .setData(tree)
          .setAllowFocus(false)
          .setAllowZoom(false)
          .setAllowPan(true)
          .setAllowNodeCentering(false)
          .setElement(this.$refs.downline)
          .setMinScale(0.9)
          .setIdAccessor(function (data) {
            return data.id
          })
          .setChildrenAccessor(function (data) {
            return data.downline
          })
          .setBodyDisplayTextAccessor(function (data) {
            return `${data.firstname} ${data.lastname}`
          })
          .setTitleDisplayTextAccessor(function (data) {
            return `${
              (data.realtor_stage && data.realtor_stage.replace('_', ' ')) ||
              'N/A'
            }`
          })
          .initialize()

        const nodes = treePlugin.getNodes()
        nodes.forEach(function (node, index, arr) {
          treePlugin.expand(node)
        })
        treePlugin.update(treePlugin.getRoot())
      }, 2000)
    },
    generateGeneration() {
      const tree = {
        id: this.$auth.user.id,
        firstname: this.$auth.user.firstname,
        lastname: this.$auth.user.lastname,
        name: 'Me',
        description: 'Text',
        realtor_stage: this.$auth.user.realtor_stage.replace('_', ' '),
        downline: this.downline,
      }
      setTimeout(() => {
        // eslint-disable-next-line
        const treePlugin = new mitchTree.boxedTree()
          .setData(tree)
          .setAllowFocus(false)
          .setAllowZoom(false)
          .setAllowPan(true)
          .setAllowNodeCentering(false)
          .setElement(this.$refs.generation)
          .setMinScale(0.9)
          .setIdAccessor(function (data) {
            return data.id
          })
          .setChildrenAccessor(function (data) {
            return data.downline
          })
          .setBodyDisplayTextAccessor(function (data) {
            return `${data.firstname} ${data.lastname}`
          })
          .setTitleDisplayTextAccessor(function (data) {
            return `${
              (data.realtor_stage && data.realtor_stage.replace('_', ' ')) ||
              'N/A'
            }`
          })
          .initialize()

        const nodes = treePlugin.getNodes()
        nodes.forEach(function (node, index, arr) {
          treePlugin.expand(node)
        })
        treePlugin.update(treePlugin.getRoot())
      }, 2000)
    },
  },
}
</script>

<style lang="scss" scoped>
.nav {
  background: #fff !important;
}
.search-icon {
  top: 15px;
  right: 20px;
  position: absolute;
}
</style>
