<template>
  <b-container class="auth-pages px-0" fluid>
    <b-row class="page-wrapper" no-gutters>
      <b-col cols="12" lg="4" class="pattern px-0">
        <img src="~png/pattern.png" alt="" />
      </b-col>
      <b-col
        cols="12"
        lg="8"
        class="d-flex justify-content-center align-items-center"
      >
        <form class="form-wrapper px-4" @submit.prevent="submit">
          <div class="logo-brand mb-lg-5 mb-4">
            <nuxt-link to="/">
              <b-img src="~png/logo.jpeg" alt="" rounded="circle" />
            </nuxt-link>
          </div>
          <AuthTitle title="Register (Client)" />
          <div class="d-lg-flex justify-content-between gap-3">
            <div class="d-flex flex-column w-100">
              <BaseInout
                v-model="form.firstname"
                placeholder="First Name"
                type="text"
                :value="form.firstname"
                :required="true"
                width-half
                :class="{ error: $v.form.firstname.$error }"
                @blur="$v.form.firstname.$touch()"
              />
              <div v-if="$v.form.firstname.$error" class="my-0">
                <div v-if="!$v.form.firstname.required" class="error my-0 mb-3">
                  First Name is required
                </div>
                <div
                  v-if="!$v.form.firstname.minLength"
                  class="error my-0 mb-3"
                >
                  First Name must be at least 3 characters minimum
                </div>
              </div>
            </div>

            <div class="d-flex flex-column w-100">
              <BaseInout
                v-model="form.lastname"
                placeholder="Last Name"
                type="text"
                :value="form.lastname"
                width-half
                :required="true"
                :class="{ error: $v.form.lastname.$error }"
                @blur="$v.form.lastname.$touch()"
              />
              <div v-if="$v.form.lastname.$error" class="my-0">
                <div
                  v-if="!$v.form.lastname.required"
                  class="error my-0 mb-3 d-flex m-l-auto"
                >
                  Last Name is required
                </div>
                <div
                  v-if="!$v.form.lastname.minLength"
                  class="error my-0 mb-3 d-flex m-l-auto"
                >
                  Last Name must be atleast 8 characters minimum
                </div>
              </div>
            </div>
          </div>

          <BaseInout
            v-model="form.email"
            placeholder="Email Address"
            type="email"
            :value="form.email"
            :required="true"
            :class="{ error: $v.form.email.$error }"
            @blur="$v.form.email.$touch()"
          />
          <div v-if="$v.form.email.$error" class="my-0">
            <div v-if="!$v.form.email.required" class="error my-0 mb-3">
              Email is required
            </div>
            <div v-if="!$v.form.email.email" class="error my-0 mb-3">
              Please enter a valid email address
            </div>
          </div>

          <div ref="referral" class="ref-box d-flex flex-column w-100">
            <BaseInout
              v-model="form.referral_code"
              placeholder="Referral Code (Optional) "
              type="text"
              class="mb-3"
              :value="form.referral_code"
              no-spacing
              @blur="validateRefCode(form.referral_code)"
            />
            <div v-if="validCode !== null" class="my-0">
              <div v-if="validCode" class="text-success my-0 mb-0">
                <small
                  ><span class="font-weight-bold">{{ referralName }}</span>
                  referral code is valid</small
                >
              </div>
              <div v-if="!validCode" class="error my-0 mb-0">
                Invalid referral code
              </div>
            </div>
          </div>

          <BaseInout
            v-model="form.phone"
            placeholder="Phone Number"
            type="text"
            :value="form.phone"
            :class="{ error: $v.form.phone.$error }"
            @blur="$v.form.phone.$touch()"
          />
          <div v-if="$v.form.phone.$error" class="my-0">
            <div v-if="!$v.form.phone.required" class="error my-0 mb-3">
              Phone Number is required
            </div>
          </div>

          <BaseInout
            v-model="form.password"
            placeholder="Enter Password"
            type="password"
            :value="form.password"
            :required="true"
            :class="{ error: $v.form.password.$error }"
            @blur="$v.form.password.$touch()"
          />

          <div v-if="$v.form.password.$error" class="my-0">
            <div v-if="!$v.form.password.required" class="error my-0 mb-3">
              Password is required
            </div>
            <div v-if="!$v.form.password.minLength" class="error my-0 mb-3">
              Password must be atleast 8 characters minimum
            </div>
          </div>

          <BaseInout
            v-model="form.confirmPassword"
            placeholder="Confirm Password"
            type="password"
            :value="form.confirmPassword"
            :required="true"
            :class="{ error: $v.form.confirmPassword.$error }"
            @blur="$v.form.confirmPassword.$touch()"
          />

          <div v-if="$v.form.confirmPassword.$error" class="my-0 mb-3">
            <div
              v-if="!$v.form.confirmPassword.sameAsPassword"
              class="error my-0"
            >
              Password doesn't match
            </div>
          </div>

          <BaseButton text="Register" type="submit" />

          <h6 class="mt-3 d-none d-lg-block">
            Already have an account?
            <b-link to="/login">Login</b-link>
          </h6>

          <h6 class="mt-3 px-4 d-lg-none d-sm-block suggested-link">
            Already a user?
            <b-link to="/login">Login here</b-link>
          </h6>
        </form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { email, minLength, required, sameAs } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
import BaseInout from '../../components/BaseInout'
import BaseButton from '../../components/BaseButton'
import AuthTitle from '../../components/AuthTitle'

export default {
  name: 'Register',
  components: {
    BaseInout,
    BaseButton,
    AuthTitle,
  },
  data() {
    return {
      validCode: null,
      referralName: '',
      form: {
        email: '',
        firstname: '',
        lastname: '',
        password: '',
        referral_code: '',
        confirmPassword: '',
        callback_url: `${process.env.baseUrl}/verify`,
      },
    }
  },
  mounted() {
    if (this.$route.query.code) {
      this.form.referral_code = this.$route.query.code
      this.validateRefCode(this.$route.query.code)
    }
  },
  validations: {
    form: {
      phone: {
        required,
        minLength: minLength(11),
      },
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(8),
      },
      firstname: {
        required,
        minLength: minLength(3),
      },
      lastname: {
        required,
        minLength: minLength(3),
      },
      confirmPassword: {
        sameAsPassword: sameAs('password'),
      },
    },
  },
  methods: {
    ...mapActions({
      saveCustomer: 'customer/signUp',
      verifyRefCode: 'user/verifyRefCode',
    }),
    async validateRefCode(referralCode) {
      if (!referralCode) {
        this.validCode = null
        return false
      }
      const loader = this.$loading.show({ container: this.$refs.referral })
      try {
        const res = await this.verifyRefCode({ referral_code: referralCode })
        loader.hide()
        if (res) {
          this.validCode = true
          this.referralName = `${res.payload.firstname} ${res.payload.lastname}`
        }
      } catch (e) {
        loader.hide()
        this.validCode = false
        await this.$Toast.fire({
          icon: 'error',
          title: this.$formatError(e),
        })
      }
    },
    async submit() {
      if (this.validCode === false && this.validCode !== null) {
        await this.$Toast.fire({
          icon: 'error',
          title: 'Please enter valid referral code',
        })
      }
      const loader = this.$loading.show()
      try {
        const payload = { ...this.form }
        if (payload.referral_code === '') {
          delete payload.referral_code
        }
        await this.saveCustomer(payload)
        loader.hide()

        this.$Toast.fire({
          icon: 'success',
          title:
            'Thank you for signing up. Kindly verify your email by clicking on the link sent to your inbox',
        })
        await this.$router.push({ name: 'verify-welcome' })
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.auth-pages {
  .pattern {
    img {
      width: inherit;
      height: 100%;
      min-height: 100vh;
    }
  }

  .form-wrapper {
    width: 55%;
  }

  .logo-brand img {
    width: 70px;
  }
}

@media screen and (max-width: 768px) {
  .auth-pages {
    .pattern {
      img {
        width: inherit;
        height: 60vh;
        min-height: 60vh;
      }
    }
  }
  .page-wrapper {
    height: 100vh;
    margin-top: -54vh;
  }
  .form-wrapper {
    text-align: center;
    padding-top: 50px;
    width: 100% !important;
  }

  .suggested-link {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    padding: 20px 0;
  }
}
</style>
