<template>
  <div class="page-container">
    <div v-if="product" class="d-flex mb-3 mt-4 mt-lg-0">
      <img
        :src="require('@/assets/images/svg/back-arrow.svg')"
        class="mr-3 back-arrow"
        alt=""
        @click="$router.back()"
      />
      <PageTitle :title="product.name" />
    </div>
    <div class="d-flex properties-grid scrollbar">
      <div v-for="image in images" :key="image.src">
        <ProductSlider :image="image" />
      </div>
    </div>

    <subscription-details
      v-if="product"
      :product="product"
      purchased
      :subscription="subscription"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PageTitle from '../../../components/PageTitle'
import ProductSlider from '../../../components/products/ProductSlider'
import SubscriptionDetails from '../../../components/products/SubscriptionDetails'
export default {
  components: {
    PageTitle,
    ProductSlider,
    SubscriptionDetails,
  },
  layout: 'customer',
  data() {
    return {}
  },
  head() {
    return {
      title: 'LandShares || Property',
    }
  },
  computed: {
    ...mapGetters({
      subscription: 'product/subscription',
    }),
    images() {
      return (
        (this.product &&
          this.product.images.map((image) => ({ src: image }))) ||
        []
      )
    },
    product() {
      return this.subscription.product
    },
  },
  async mounted() {
    const loader = this.$loading.show()
    try {
      await this.fetchSubscription(this.$route.params.id)
    } catch (e) {
      this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
    }
    loader.hide()
  },
  methods: {
    ...mapActions({
      fetchProduct: 'product/single',
      fetchSubscription: 'product/subscription',
    }),
  },
}
</script>

<style lang="scss" scoped>
.properties-grid {
  overflow-x: auto;
  width: 72.2vw;

  @media screen and (max-width: 768px) {
    width: 94.5vw;
  }
}
</style>
