<template>
  <div class="page-container">
    <PageTitle title="Rewards" class="mb-4 d-none d-lg-block" />
    <DashboardCards @switchTab="getData" />
    <RealtorTabs :defaults="defaults" />
  </div>
</template>

<script>
import PageTitle from '../../../components/PageTitle'
import RealtorTabs from '../../../components/realtor/tabs'
import DashboardCards from '../../../components/realtor/cards'
export default {
  components: {
    PageTitle,
    RealtorTabs,
    DashboardCards,
  },
  layout: 'customer',
  data() {
    return {
      defaults: true,
    }
  },
  head() {
    return {
      title: 'LandShares || Realtor',
    }
  },

  methods: {
    getData(data) {
      this.defaults = data
    },
  },
}
</script>

<style lang="scss" scoped></style>
