<template>
  <div class="details-page">
    <b-row>
      <b-col cols="12" lg="8" class="pt-4">
        <div class="d-lg-block d-none">
          <div v-if="product.stateId" class="location d-flex pb-4">
            <span>Properties</span>
            <span>></span>
            <span>All Cities</span>
            <span>></span>
            <span>Lagos</span>
            <span>></span>
            <span>Egbeda</span>
          </div>
        </div>

        <div class="description">
          <div class="d-flex justify-content-between">
            <h1>{{ product.name }}, {{ product.address }}</h1>
            <div class="">
              <b-badge v-if="purchased" class="badges" pill variant="dark"
                >PURCHASED
              </b-badge>
            </div>
          </div>
          <h2
            v-if="getPlanType('out_right').length"
            class="d-block d-lg-none py-2"
          >
            NGN
            {{
              formatAsMoney(
                calculatePrice(getPlanType('out_right')[0].amount_per_unit)
              )
            }}
          </h2>
          <p class="text-dark">
            {{ product.description }}
          </p>

          <!-- <h6 class="mt-5">Listed By Hollah Micheal</h6> -->
        </div>

        <div v-if="product.features.length" class="features mt-5">
          <h4 class="my-4">Features</h4>
          <b-row class="list">
            <b-col
              v-for="feature in product.features"
              :key="feature"
              lg="4"
              md="12"
            >
              <p class="text-dark mb-4">{{ feature }}</p>
            </b-col>
          </b-row>
        </div>

        <div v-if="purchased" class="features mt-5">
          <h4 class="my-4">Special Request</h4>
          <div class="d-flex pb-3">
            <p class="text-dark mr-5">Goldec Forosted Glass Door</p>
            <div class="">
              <b-badge class="px-3 py-2 purple text-light" pill variant="royal"
                >APPROVED
              </b-badge>
            </div>
          </div>
          <div class="d-flex pb-3">
            <p class="text-dark mr-5">Customized Picture Wall Frames</p>
            <div class="">
              <b-badge class="px-3 py-2" pill variant="dark">IN VIEW</b-badge>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-dark mr-5">Golden Door Handle</p>
            <div class="">
              <b-badge class="px-3 py-2" pill variant="danger"
                >DECLINED
              </b-badge>
            </div>
          </div>
        </div>

        <div v-if="false" class="map-area mt-5">
          <h4>Map View</h4>

          <div class="map mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.365644558144!2d3.3019818149416125!3d6.601401024083862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91af739f6ed7%3A0x2c8a1710d6125543!2sPertinence%20Group!5e0!3m2!1sen!2sng!4v1618338880530!5m2!1sen!2sng"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <BaseButton
          v-b-modal.modal-lg
          text="Buy Now"
          variant="dark"
          class="d-lg-none d-block mobile-btn"
        />
      </b-col>
      <b-col cols="0" lg="4" class="d-lg-block d-none">
        <div v-if="!purchased && product.payment_plans.length" class="">
          <div
            v-if="!purchased"
            class="
              bg-white
              shadow-sm
              p-4
              purchase
              d-flex
              justify-content-center
            "
          >
            <div class="price">
              <div v-if="getPlanType('out_right').length" class="">
                <small class="text-dark">outright payment</small>
                <h1>
                  NGN
                  {{
                    formatAsMoney(
                      calculatePrice(
                        getPlanType('out_right')[0].amount_per_unit
                      )
                    )
                  }}
                </h1>
              </div>

              <div class="mt-5 d-flex align-items-end">
                <div class="w-100">
                  <b-form-group
                    :description="`Units available: ${product.available_units}`"
                    label="No of Units"
                    label-for="no-of-units"
                    class="text-dark"
                  >
                    <b-form-input
                      id="no-of-units"
                      v-model="units"
                      type="number"
                      :max="product.total_units"
                      :min="minUnits"
                      number
                      trim
                    />
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="!purchased && getPlanType('installment').length"
            class="
              bg-white
              shadow-sm
              p-4
              purchase
              d-flex
              justify-content-center
              mt-4
              mb-4
            "
          >
            <div class="price">
              <div class="">
                <div class="d-flex justify-content-between mb-3 GAP-2">
                  <span class="text-dark">Installmental Payment</span>
                  <BaseSwitch @toggle="toggleInstallmental" />
                </div>

                <div v-if="installmental" class="my-select px-4 mb-3">
                  <select
                    id="payment-plan"
                    v-model="planId"
                    name="payment_plans"
                  >
                    <option value="">Select Duration</option>
                    <option
                      v-for="payment_plan in getPlanType('installment')"
                      :key="payment_plan.id"
                      :value="payment_plan.id"
                    >
                      {{ payment_plan.duration }} Months
                    </option>
                  </select>
                </div>
                <div v-if="installmental && planId">
                  <small class="d-block">
                    Initial Deposit:
                    <b>
                      NGN
                      {{
                        formatAsMoney(
                          calculatePrice(plan.minimun_deposit_amount)
                        )
                      }}
                    </b>
                  </small>
                  <small class="d-block">
                    Total Amount:
                    <b>
                      NGN
                      {{ formatAsMoney(calculatePrice(plan.amount_per_unit)) }}
                    </b>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <BaseButton
            v-if="plan"
            text="Buy Now"
            variant="green"
            :disable-button="installmental && !planId"
            @click.prevent="topplePurchaseModal()"
          />
        </div>
        <div v-if="purchased" class="">
          <div class="bg-white shadow-sm p-4 purchase d-flex">
            <div class="price">
              <div class="">
                <small class="text-dark">Allocated Plots</small>
                <h1>1 Unit</h1>
                <span class="text-dark"> Add Unit(s) </span>
              </div>

              <div class="mt-4 d-flex align-items-end">
                <div class="">
                  <small class="d-block text-dark">Special Request</small>
                  <b-button
                    class="
                      bg-transparent
                      d-flex
                      align-items-center
                      mt-1
                      px-0
                      cursor-pointer
                    "
                  >
                    <b-icon
                      icon="plus-circle-fill"
                      class="mr-2 plus-icon"
                    ></b-icon>
                    <h6 class="mb-0">New Request</h6>
                  </b-button>
                </div>
              </div>
            </div>
          </div>

          <BaseButton
            text="Change of Ownership"
            variant="light"
            class="my-4"
            @click="submit"
          />
          <BaseButton text="View All Documents" variant="light" />
        </div>
      </b-col>
    </b-row>
    <div v-if="false" class="related">
      <h4 class="">You Might Like These</h4>
      <section class="properties-grid d-flex gap-4">
        <Property
          v-for="property in properties"
          :key="property"
          :property="property"
          half
        />
      </section>
    </div>
    <PurchasModal
      v-if="product && plan"
      :plan="plan"
      :product="product"
      :units="units"
    />
  </div>
</template>

<script>
import Property from '@/components/cards/Property'
import BaseSwitch from '@/components/BaseSwitch'
import BaseButton from '@/components/BaseButton'
import PurchasModal from '@/components/modals/PurchasModal'

export default {
  components: {
    Property,
    BaseSwitch,
    PurchasModal,
    BaseButton,
  },
  props: {
    product: {
      type: Object,
      required: true,
    },
    purchased: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      installmental: false,
      units: 1,
      planId: '',
      plan: null,
      minUnits: 1,
    }
  },
  watch: {
    planId(val) {
      this.plan = val
        ? this.product.payment_plans.filter(
            (item) => item.id === val && item.is_active
          )[0]
        : this.getPlanType('out_right')[0]
    },
  },
  mounted() {
    this.plan = this.getPlanType('out_right')[0]
  },
  methods: {
    toggleInstallmental(val) {
      this.installmental = val
      this.planId = this.installmental ? this.planId : ''
    },
    getPlanType(type) {
      return this.product.payment_plans.filter(
        (item) => item.type === type && item.is_active
      )
    },
    topplePurchaseModal() {
      if (this.installmental && this.planId === '') {
        this.$Toast.fire({ icon: 'warning', title: 'Select number of months!' })
        return false
      }
      this.$bvModal.show('modal-lg')
    },
    calculatePrice(amount) {
      return this.$fromKobo(this.units * amount)
    },
    formatAsMoney(amount) {
      return new Intl.NumberFormat().format(amount)
    },
  },
}
</script>

<style lang="scss" scoped>
.details-page {
  .location {
    span {
      font-size: 16px;
      font-weight: bold;
      opacity: 0.6;
      display: inline-block;
      margin-right: 14px;
    }
  }

  h4 {
    font-weight: 800;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .description {
    h1 {
      width: 70%;
      font-size: 35px;
      @media screen and (max-width: 768px) {
        width: 80%;
        font-size: 20px;
        font-weight: 800;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 800;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      @media screen and (max-width: 768px) {
        font-size: 15px;
        font-weight: 500;
      }
    }

    h6 {
      opacity: 0.6;
    }
  }

  .features {
    .list {
      p {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }

  .map-area {
    .map {
      height: 320px;
      @media screen and (max-width: 768px) {
        height: 220px;
      }
    }
  }

  .related {
    margin-top: 70px;
  }

  .properties-grid {
    overflow-x: scroll;
  }

  .purchase {
    margin-top: -60px;

    .price {
      //   height: 140px;

      small {
        font-size: 13px;
        text-transform: uppercase;
      }

      h1 {
        font-weight: 500;
        font-size: 28px;
        font-family: $secondary-font;
      }

      .my-select {
        border: 1px solid #000;
      }

      #payment-plan {
        display: block;
        width: 100%;
        padding: 12px 0;
        border: none;
      }

      #payment-plan:focus {
        outline: none;
      }
    }
  }

  .badges {
    font-size: 15px;
    padding: 12px 30px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      padding: 12px 20px;
      margin-left: 10px;
    }
  }

  .danger {
    background: $danger;
  }

  .purple {
    background: $royal;
  }
}

.plus-icon {
  font-size: 30px;
  color: $primary;
}
</style>
