<template>
  <div
    class="d-block d-lg-flex justify-content-between search-filter mt-3 mt-lg-0"
  >
    <div class="search-feild mr-lg-4">
      <BaseInout
        id="search-input"
        ref="search"
        v-model="search"
        placeholder="Search Properties"
        type="text"
        :value="search"
        icon="search"
        @keyup.enter="$emit('search', search)"
        @blur="$emit('search', search)"
      />
    </div>
    <div v-if="false" class="select-feild d-block">
      <b-select
        v-model="sort_by"
        text="Filter By"
        variant="outline-dark"
        @change="$emit('sort', sort_by)"
      >
        <b-dropdown-item>Newest</b-dropdown-item>
        <b-dropdown-item>Oldest</b-dropdown-item>
      </b-select>
    </div>

    <div class="select-feild d-block">
      <b-form-select
        v-model="sort_by"
        text="Sort By Date"
        variant="outline-dark"
        class="select-sort-by"
        placeholder="Sort By"
        @change="$emit('sort', sort_by)"
      >
        <b-select-option value="" disabled>Sort By</b-select-option>
        <b-select-option value="ASC">Newest</b-select-option>
        <b-select-option value="DESC">Oldest</b-select-option>
      </b-form-select>
    </div>
  </div>
</template>
<script>
import BaseInout from '../BaseInout'
export default {
  components: {
    BaseInout,
  },
  layout: 'customer',
  data() {
    return {
      search: '',
      sort_by: '',
    }
  },
}
</script>
<style lang="scss" scoped>
.search-feild {
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.select-feild {
  width: 18.5%;
  @media screen and (max-width: 768px) {
    width: 40%;
  }
}

.select-sort-by {
  border: 1px solid #000 !important;
  height: calc(100% - 1rem);
  border-radius: 0;
}
</style>
