<template>
  <div class="details-page">
    <b-row>
      <b-col cols="12" lg="8" class="pt-4 pb-5">
        <div class="d-lg-block d-none">
          <div v-if="product.stateId" class="location d-flex pb-4">
            <span>Properties</span>
            <span>></span>
            <span>All Cities</span>
            <span>></span>
            <span>Lagos</span>
            <span>></span>
            <span>Egbeda</span>
          </div>
        </div>

        <div class="description">
          <div class="d-flex justify-content-between">
            <h1>{{ product.name }}, {{ product.address }}</h1>
            <div class="">
              <b-badge v-if="purchased" class="badges" pill variant="dark"
                >{{
                  Number(subscription.amount_left) > 0
                    ? 'ON GOING'
                    : 'PURCHASED'
                }}
              </b-badge>
            </div>
          </div>
          <div
            class="
              bg-white
              shadow-sm
              p-4
              d-flex d-lg-none
              flex-column
              mb-4
              purchase-box
            "
          >
            <div class="">
              <small class="text-dark">Amount paid</small>
              <h1>
                NGN
                {{ formatAsMoney(calculatePrice(subscription.amount_paid)) }}
              </h1>
            </div>
            <div class="price">
              <div class="">
                <small class="text-dark">Allocated Plots</small>
                <h1>{{ subscription.units }} Unit(s)</h1>
              </div>

              <div
                v-if="Number(subscription.amount_left) > 0"
                class="mt-4 d-flex justify-content-end flex-column"
              >
                <div class="">
                  <h2 class="d-block text-dark">Continue Payment</h2>
                  <div class="d-flex align-items-end">
                    <div class="w-100">
                      <b-form-group
                        :description="`Amount Left: ${formatAsMoney(
                          calculatePrice(subscription.amount_left)
                        )}`"
                        label="Enter Amount"
                        label-for="no-of-units"
                        class="text-dark"
                      >
                        <b-form-input
                          id="amount left"
                          v-model="amount_left"
                          type="text"
                          number
                          trim
                        />
                      </b-form-group>
                    </div>
                  </div>
                </div>

                <BaseButton
                  text="Pay Now"
                  variant="green"
                  :disable-button="amount_left < 1000"
                  @click.prevent="continuePayment"
                />
              </div>
            </div>
          </div>

          <p class="text-dark">
            {{ product.description }}
          </p>

          <!-- <h6 class="mt-5">Listed By Hollah Micheal</h6> -->
        </div>

        <div v-if="product.features.length" class="features mt-5">
          <h4 class="my-4">Features</h4>
          <b-row class="list">
            <b-col
              v-for="feature in product.features"
              :key="feature"
              lg="4"
              md="12"
            >
              <p class="text-dark mb-4">{{ feature }}</p>
            </b-col>
          </b-row>
        </div>

        <div v-if="false" class="map-area mt-5">
          <h4>Map View</h4>

          <div class="map mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.365644558144!2d3.3019818149416125!3d6.601401024083862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91af739f6ed7%3A0x2c8a1710d6125543!2sPertinence%20Group!5e0!3m2!1sen!2sng!4v1618338880530!5m2!1sen!2sng"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <BaseButton
          v-b-modal.modal-lg
          text="Buy Now"
          variant="dark"
          class="d-none mobile-btn"
        />
      </b-col>
      <b-col cols="0" lg="4" class="d-lg-block d-none">
        <div v-if="purchased" class="">
          <div
            class="
              bg-white
              shadow-sm
              p-4
              purchase
              d-flex
              flex-column
              purchase-box
            "
          >
            <div class="">
              <small class="text-dark">Amount paid</small>
              <h1>
                NGN
                {{ formatAsMoney(calculatePrice(subscription.amount_paid)) }}
              </h1>
            </div>
            <div class="price">
              <div class="">
                <small class="text-dark">Allocated Plots</small>
                <h1>{{ subscription.units }} Unit(s)</h1>
              </div>

              <div
                v-if="Number(subscription.amount_left) > 0"
                class="mt-4 d-flex justify-content-end flex-column"
              >
                <div class="">
                  <h2 class="d-block text-dark">Continue Payment</h2>
                  <div class="d-flex align-items-end flex-column">
                    <div class="w-100">
                      <b-form-group
                        :description="`Amount Left: ${formatAsMoney(
                          calculatePrice(subscription.amount_left)
                        )}`"
                        label="Enter Amount"
                        label-for="no-of-units"
                        class="text-dark"
                      >
                        <b-form-input
                          id="amount left"
                          v-model="amount_left"
                          type="text"
                          number
                          trim
                        />
                      </b-form-group>
                    </div>

                    <b-form-group
                      label="Pay Via"
                      label-for="payment-type"
                      class="text-dark payment-method w-100"
                    >
                      <b-select
                        id="payment-type"
                        v-model="paymentMethod"
                        name="pay"
                      >
                        <option value="" disabled>Select Payment type</option>
                        <option
                          v-for="method in paymentMethods"
                          :key="method.key"
                          :value="method.key"
                        >
                          {{ method.title }}
                        </option>
                      </b-select>
                    </b-form-group>
                  </div>
                </div>

                <BaseButton
                  text="Pay Now"
                  variant="green"
                  :disable-button="amount_left < 1000 || !paymentMethod"
                  @click.prevent="continuePayment"
                />
                <proof-of-payment :form="poc" @completed="closeModal" />
              </div>
            </div>
          </div>

          <BaseButton
            v-if="false"
            text="Change of Ownership"
            variant="light"
            class="my-4"
            @click="submit"
          />
          <BaseButton v-if="false" text="View All Documents" variant="light" />
        </div>
      </b-col>
    </b-row>
    <div v-if="false" class="related">
      <h4 class="">You Might Like These</h4>
      <section class="properties-grid d-flex gap-4">
        <Property
          v-for="property in properties"
          :key="property"
          :property="property"
          half
        />
      </section>
    </div>
  </div>
</template>

<script>
import Property from '@/components/cards/Property'
import BaseButton from '@/components/BaseButton'
import { mapActions } from 'vuex'

const defaultData = {
  name: '',
  proof_of_payment: '',
  bank_reference: '',
  product_sub_id: '',
  purpose: 'product_sub_payment',
  amount: 0,
}
export default {
  name: 'SubscriptionDetails',
  components: {
    Property,
    BaseButton,
    ProofOfPayment: () => import('@/components/modals/ProofofPayment'),
  },
  props: {
    product: {
      type: Object,
      required: true,
    },
    purchased: {
      type: Boolean,
      required: false,
      default: false,
    },
    subscription: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      amount_left: 1000,
      poc: {
        ...defaultData,
      },
      paymentMethod: '',
      paymentMethods: [
        { key: 'wallet', title: 'Pay Via Wallet' },
        // { key: 'paystack', title: 'Pay Via Card' },
        { key: 'fund_request', title: 'Upload Proof of Payment' },
      ],
    }
  },
  methods: {
    ...mapActions({
      fetchSubscription: 'product/subscription',
      subscribeToProduct: 'transactions/subscribeToProduct',
    }),
    async closeModal() {
      this.poc = { ...defaultData }
      await this.$Toast.fire({
        icon: 'success',
        title:
          'Your payment proof was successfully uploaded, It will be approved shortly once the payment is confirmed',
      })
      await this.fetchSubscription(this.$route.params.id)
    },
    calculatePrice(amount) {
      return this.$fromKobo(amount)
    },
    formatAsMoney(amount) {
      return new Intl.NumberFormat().format(amount)
    },
    async continuePayment() {
      const loader = this.$loading.show()

      const payload = {
        amount: this.$toKobo(this.amount_left),
        product_sub_id: this.subscription.id,
        callback_url: `${process.env.baseUrl}/customer/subscriptions/${this.subscription.id}`,
        payment_method: this.paymentMethod,
      }
      try {
        const response = await this.subscribeToProduct(payload)
        if (response.payload.paystackUrl) {
          window.location.assign(response.payload.paystackUrl)
        } else {
          loader.hide()
          if (payload.payment_method === 'fund_request') {
            this.poc = {
              ...this.poc,
              name: `subscription-${new Date().getTime()}-${
                this.subscription.id
              }`,
              product_sub_id: this.subscription.id,
              amount: payload.amount,
            }
            this.$bvModal.show('upload-proof')
          } else {
            await this.$Toast.fire({
              icon: 'success',
              title: 'Payment successful',
            })
            await this.fetchSubscription(this.$route.params.id)
          }
        }
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({
          icon: 'error',
          title: this.$formatError(e),
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.details-page {
  .location {
    span {
      font-size: 16px;
      font-weight: bold;
      opacity: 0.6;
      display: inline-block;
      margin-right: 14px;
    }
  }

  h4 {
    font-weight: 800;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .description {
    h1 {
      width: 70%;
      font-size: 35px;
      @media screen and (max-width: 768px) {
        width: 80%;
        font-size: 20px;
        font-weight: 800;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 800;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      @media screen and (max-width: 768px) {
        font-size: 15px;
        font-weight: 500;
      }
    }

    h6 {
      opacity: 0.6;
    }
  }

  .features {
    .list {
      p {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }

  .map-area {
    .map {
      height: 320px;
      @media screen and (max-width: 768px) {
        height: 220px;
      }
    }
  }

  .related {
    margin-top: 70px;
  }

  .properties-grid {
    overflow-x: scroll;
  }

  .purchase {
    margin-top: -60px;

    .price {
      //   height: 140px;

      small {
        font-size: 13px;
        text-transform: uppercase;
      }

      h1 {
        font-weight: 500;
        font-size: 28px;
        font-family: $secondary-font;
      }

      .my-select {
        border: 1px solid #000;
      }

      #payment-plan {
        display: block;
        width: 100%;
        padding: 12px 0;
        border: none;
      }

      #payment-plan:focus {
        outline: none;
      }
    }
  }

  .badges {
    font-size: 15px;
    padding: 12px 30px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      padding: 12px 20px;
      margin-left: 10px;
    }
  }

  .danger {
    background: $danger;
  }

  .purple {
    background: $royal;
  }
}

.plus-icon {
  font-size: 30px;
  color: $primary;
}
</style>
