<template>
  <b-container class="wallet-container" fluid="xxxl">
    <h4 class="header-text pl-3 pl-lg-0">Your Wallet</h4>
    <b-container class="card-container px-lg-0">
      <b-row no-gutters>
        <b-col cols="12" lg="5">
          <div class="card card-1">
            <p class="card-title">Wallet Balance</p>
            <div class="wallet-balance-container">
              <h3 class="wallet-balance">
                NGN {{ formatAsMoney($fromKobo(balance.balance || 0)) }}
              </h3>
              <small class="balance-info"
                >Balance as at
                {{ (balance.updated_at || balance.created_at) | luxon }}</small
              >
            </div>
            <div class="card-btn-container">
              <button
                class="card-btn withdraw-btn"
                :class="{ selected: selectedBtn === 'withdraw' }"
                disabled
              >
                Withdraw
              </button>
              <button
                class="card-btn top-up-btn"
                :class="{ selected: selectedBtn === 'topUp' }"
                @click.prevent="toggleBtn('topUp')"
              >
                Top-Up
              </button>
            </div>
            <div v-if="selectedBtn" class="card-btn-container">
              <b-input-group class="mt-3">
                <b-form-input
                  v-model="amount"
                  placeholder="Enter Amount"
                  min="1000"
                  number
                />
                <b-input-group-append>
                  <b-btn
                    variant="dark"
                    squared
                    @click.prevent="selectTransactionType()"
                    >Submit</b-btn
                  >
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>
        </b-col>
        <b-col v-if="myAccount" cols="12" lg="5">
          <div class="card card-2">
            <div class="card-title-container">
              <p class="card-title">Bank Account Details</p>
              <b-img src="~svg/landshare-logo-small.svg" />
            </div>
            <div class="name-container">
              <small class="label-text">Name</small>
              <h4 class="detail-text name">{{ myAccount.account_name }}</h4>
            </div>
            <div class="account-detail-container">
              <div class="account-number-container">
                <small class="label-text">Account Number</small>
                <h4 class="detail-text name">{{ myAccount.account_number }}</h4>
              </div>
              <div class="account-name-container">
                <small class="label-text">Bank Name</small>
                <h4 class="detail-text name">{{ myAccount.bank_name }}</h4>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="transaction-history-section">
      <h4 class="header-text">Transaction History</h4>
      <small class="recent-history">LAST 7 DAYS</small>
      <div class="table-responsive">
        <table
          v-if="transactions && filteredTransactions.length"
          class="table table-borderless"
        >
          <tr
            v-for="transaction in filteredTransactions"
            :key="transaction.id"
            class="transaction-info"
          >
            <!-- <td class="transaction-description">Paymentfor 3-Bedroom Duplex</td> -->
            <td class="transaction-type">
              <b-img
                :src="
                  transaction.position === 'credit'
                    ? require(`@/assets/images/svg/credit-icon.svg`)
                    : require(`@/assets/images/svg/debit-icon.svg`)
                "
              />
              <p
                :class="`transaction-type-detail ${
                  transaction.position || 'debit'
                } text-capitalize`"
              >
                {{ transaction.type.replace('_', ' ') }}
              </p>
            </td>
            <td class="transaction-date">
              {{ transaction.created_at | luxon }}
            </td>
            <td
              :class="`transaction-amount ${transaction.position || 'debit'}`"
            >
              NGN {{ formatAsMoney($fromKobo(transaction.total_amount)) }}
            </td>
            <td class="transaction-type-detail text-capitalize">
              {{ transaction.status }}
            </td>

            <td>
              <b-button
                v-b-toggle.sidebar-right
                variant="link"
                class="text-decoration-none"
                @click="selectTransaction(transaction.id)"
                >View Details</b-button
              >
            </td>
          </tr>
        </table>
      </div>
      <b-sidebar
        id="sidebar-right"
        v-slot="{ hide }"
        title="Sidebar"
        bg-variant="white"
        backdrop
        backdrop-variant="light"
        right
        no-header
        shadow
      >
        <div v-if="transaction" class="receipt-container px-4 py-3">
          <b-button
            class="close-btn"
            variant="link"
            @click="
              () => {
                hide()
                selectTransaction()
              }
            "
            ><b-img src="~svg/close-icon.svg"
          /></b-button>
          <div class="center-items-container">
            <b-img class="receipt-logo" src="~svg/landshare-logo-large.svg" />
            <h4 class="header-text">Transaction Receipt</h4>
          </div>
          <table class="receipt-table table table-borderless">
            <tr class="transaction-time">
              <td class="icon">
                <b-img src="~svg/time-icon.svg" />
              </td>
              <td class="receipt-label">Transaction Time</td>
              <td class="receipt-info">{{ transaction.created_at | luxon }}</td>
            </tr>
            <tr class="transaction-id">
              <td class="icon">
                <b-img src="~svg/time-icon.svg" />
              </td>
              <td class="receipt-label">Transaction ID</td>
              <td class="receipt-info">{{ transaction.reference }}</td>
            </tr>
            <tr v-if="transaction.channel" class="payment-type">
              <td class="icon">
                <b-img src="~svg/payment-icon.svg" />
              </td>
              <td class="receipt-label">Payment Type</td>
              <td class="receipt-info text-capitalize">
                {{ transaction.type }}
              </td>
            </tr>
            <tr v-if="transaction.channel" class="payment-type">
              <td class="icon">
                <b-img src="~svg/payment-icon.svg" />
              </td>
              <td class="receipt-label">Payment Channel</td>
              <td class="receipt-info text-capitalize">
                {{ transaction.channel }}
              </td>
            </tr>
            <tr class="amount">
              <td class="icon">
                <b-img src="~svg/time-icon.svg" />
              </td>
              <td class="receipt-label">Amount Paid</td>
              <td class="receipt-info">
                NGN {{ formatAsMoney($fromKobo(transaction.total_amount)) }}
              </td>
            </tr>
          </table>

          <div class="button-container">
            <button class="download-btn">Download as PDF</button>
            <button class="share-btn">Share Receipt</button>
          </div>
        </div>
      </b-sidebar>
    </b-container>
  </b-container>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Wallet',
  layout: 'customer',
  data() {
    return {
      transactionId: '',
      amount: 1000,
      selectedBtn: '',
    }
  },
  head() {
    return {
      title: 'LandShares || Wallet',
    }
  },
  computed: {
    ...mapGetters({
      transactions: 'transactions/all',
      transaction: 'transactions/single',
      balance: 'wallet/balance',
      account: 'bank/account',
    }),
    filteredTransactions() {
      return (
        (this.transactions.rows &&
          this.transactions.rows.filter(
            (item) => item.status !== 'initiated' || item.type === 'commission'
          )) ||
        []
      )
    },
    myAccount() {
      const [details] = this.account.rows || []
      return details
    },
  },
  async mounted() {
    const loader = this.$loading.show()
    try {
      await this.fetchBalance()
      await this.fetchAccount()
      await this.fetchTransactions()
    } catch (e) {
      this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
    }
    loader.hide()
  },
  methods: {
    ...mapActions({
      fetchBalance: 'wallet/balance',
      topUp: 'transactions/topUp',
      fetchTransactions: 'transactions/all',
      fetchTransaction: 'transactions/single',
      fetchAccount: 'bank/fetchBankAccount',
    }),
    toggleBtn(btn) {
      this.selectedBtn = this.selectedBtn === btn ? '' : btn
    },
    formatAsMoney(value) {
      return new Intl.NumberFormat().format(value)
    },
    async selectTransaction(id = '') {
      if (id) {
        const loader = this.$loading.show()

        this.transactionId = id
        try {
          await this.fetchTransaction(id)
        } catch (e) {
          this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
        }
        loader.hide()
      } else {
        this.transactionId = ''
      }
    },
    selectTransactionType() {
      if (this.selectedBtn === 'topUp') {
        this.fundWallet()
      } else {
        this.withdrawFromWallet()
      }
    },
    async withdrawFromWallet() {},
    async fundWallet() {
      const loader = this.$loading.show()
      try {
        const response = await this.topUp({
          amount: this.$toKobo(this.amount),
          callback_url: `${process.env.baseUrl}/customer/wallet`,
        })
        if (response.payload) {
          window.location.assign(response.payload.paystackUrl)
        }
      } catch (e) {
        await this.$Toast.fire({
          icon: 'error',
          title: 'Unable to fund wallet',
        })
      }
      loader.hide()
    },
  },
}
</script>
<style lang="scss">
.wallet-container {
  padding-top: 4%;
}

.header-text {
  font-size: toRes(35);
  font-weight: 700;
  margin-bottom: 50px;
}

.card-container {
  //display: flex;
  margin-bottom: 60px;
  .row {
    gap: toRes(60);
  }
}

.card {
  //width: 38%;
  height: 100%;
  box-shadow: 0px 0px 30px #090d7c0d;
  padding-top: 45px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  border: 0;
}

.card-1 {
  border: 0;
  background: {
    image: url('~png/card-pattern.png');
    position: bottom center;
    repeat: no-repeat;
  }
}

.card-title {
  font-size: toRes(25);
  font-weight: 500;
  margin-bottom: 25px;
}

.wallet-balance-container {
  margin-bottom: 30px;
}

.wallet-balance {
  font-size: toRes(45);
  font-weight: 800;
  margin-bottom: 0;
}

.balance-info {
  display: inline-block;
  font-weight: 400;
  font-size: toRes(17);
  opacity: 0.5;
}

.card-btn-container {
  display: flex;
  gap: 1.5rem;
}
.card-btn {
  background: none;
  width: toRes(200);
  height: toRes(50);
  font-size: toRes(17);
  white-space: nowrap;
}

.withdraw-btn {
  color: var(--danger);
  border: 1px solid var(--danger);
  background: linear-gradient(to right, var(--danger) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: 0.2s all ease-out;
}

.top-up-btn {
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: 0.2s all ease-out;
}

.withdraw-btn:hover,
.withdraw-btn.selected,
.top-up-btn:hover,
.top-up-btn.selected {
  color: var(--white);
  background-position: bottom left;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .card-title {
    margin: 0;
  }
}

.name-container {
  margin-bottom: 20px;
}

.account-detail-container {
  display: flex;
  align-items: flex-start;
  gap: toRes(70);
}

.label-text {
  display: inline-block;
  font-size: toRes(15);
  font-weight: 500;
}

.detail-text {
  font-weight: 700;
  font-size: toRes(30);
}

.recent-history {
  display: inline-block;
  opacity: 0.5;
  margin-bottom: 20px;
}

.table {
  width: 80%;

  td {
    vertical-align: middle;
  }
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.transaction-info {
  // display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 30px;

  p {
    margin: 0;
    font-size: toRes(25);
  }
}

.transaction-description,
.transaction-amount {
  font-weight: 600;
}

.transaction-date {
  font-weight: 500;
}

.transaction-type {
  display: flex;
  align-items: center;
  gap: 6px;
}

.debit {
  color: var(--danger);
}

.credit {
  color: var(--success);
}

.horizontal-rule {
  // display: inline-block;
  width: 80%;
  background: var(--light);
  height: 1px;
  margin-bottom: 20px;
}

.b-sidebar {
  width: 30% !important;
}

.close-btn {
  margin-bottom: 15%;
}

.center-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.receipt-logo {
  margin-bottom: 40px;
}

.receipt-table {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40%;
  font-size: toRes(20);
}

.receipt-label {
  opacity: 0.4;
  font-weight: 500;
}

.receipt-info {
  font-weight: 700;
}

.button-container {
  margin-right: 30px;
  margin-left: 30px;
  button {
    width: 100%;
    display: block;
    background: none;
    outline: none;
    margin-bottom: 10px;
    padding: 20px 45px;
    border: 1px solid var(--dark);
    font-size: toRes(20);
  }

  .download-btn {
    background: linear-gradient(to right, #000 50%, #fff 50%);
    background-size: 400% 100%;
    background-position: bottom right;
    transition: 0.4s all ease-out;
  }

  .download-btn:hover {
    color: var(--white);
    background-position: bottom left;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .wallet-container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .card-container {
    flex-direction: column;
    .card {
      width: 70%;
    }

    .card-btn {
      height: 50px;
      width: 200px;
      font-size: toRes(25);
    }
  }

  .b-sidebar {
    width: 40% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .wallet-container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .card-container {
    flex-direction: column;
    .card {
      width: 80%;
    }

    .card-btn {
      height: 50px;
      width: 200px;
      font-size: toRes(25);
    }
  }

  .b-sidebar {
    width: 80% !important;
  }
}

@media only screen and (max-device-width: 768px) {
  .wallet-container {
    padding-top: 15%;
  }

  .b-sidebar {
    width: 100% !important;
  }

  .receipt-table {
    margin-bottom: 20%;
  }

  .table {
    width: 100%;
  }

  td.transaction-type {
    display: none;
  }

  td.transaction-type-detail {
    display: none;
  }

  .card-btn {
    font-size: toRes(20);
  }

  .button-container button {
    font-size: toRes(25);
  }
}
</style>
