<template>
  <div class="btn-wrapper">
    <b-button
      :type="type"
      class="w-100 py-3 text-white"
      :class="variant"
      :disabled="disableButton"
      v-on="$listeners"
      >{{ text }}
    </b-button>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true,
    },
    variant: {
      type: String,
      default: 'dark',
    },
    type: {
      type: String,
      required: false,
      default: 'button',
    },
    disableButton: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.green {
  background: var(--primary) !important;
}

.dark {
  background: var(--black) !important;
}

.light {
  background: #fff;
  color: #000 !important;
  border: 1px solid #000;
}
</style>
