<template>
  <footer class="landshares-footer">
    <div class="footer-logo-container">
      <nuxt-link to="/">
        <b-img
          src="@/assets/images/png/logo.jpeg"
          class="footer-logo"
          rounded="circle"
        />
      </nuxt-link>
    </div>
    <div class="quicklinks">
      <p class="footer-title">quick links</p>
      <ul>
        <li><nuxt-link to="/">home</nuxt-link></li>
        <li><nuxt-link to="#about">About Us</nuxt-link></li>
        <li v-if="false"><nuxt-link to="#faq">Faq</nuxt-link></li>
      </ul>
    </div>

    <div class="quicklinks">
      <p class="footer-title">social network</p>
      <ul>
        <li>
          <a
            href="https://m.facebook.com/Landsharesltd/?ref=page_internal&mt_nav=0"
            target="_blank"
            >facebook</a
          >
        </li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">twitter</a></li>
      </ul>
    </div>

    <div class="quicklinks">
      <p class="footer-title">legal</p>
      <ul>
        <li><nuxt-link to="#">terms &amp; conditions</nuxt-link></li>
        <li><nuxt-link to="#">privacy policy</nuxt-link></li>
      </ul>
    </div>

    <div class="quicklinks address-container">
      <div class="address">
        <p class="footer-title">contact us</p>
        <p class="address-text">
          153, EGBEDA - AKOWONJO ROAD, SOBO BUS STOP, AKOWONJO, LAGOS NIGERIA.
        </p>
      </div>
      <div class="phone number">
        <p class="footer-title">call us on</p>
        <p>08025984186, 08078340621</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style lang="scss" scoped>
.landshares-footer {
  display: flex;
  justify-content: space-between;
  padding: 3% 10% 4%;
  background-color: var(--cta-accent);
  text-transform: uppercase;
  font-size: toRes(20);
  line-height: toRes(35);
  font-weight: 400;
  color: var(--white);

  ul {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.footer-logo {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.footer-title {
  opacity: 0.5;
}

.address-container {
  width: 30%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .landshares-footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .landshares-footer {
    flex-direction: column;
    padding-top: 5%;
  }
  .address-container {
    width: 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
}
</style>
