<template>
  <b-container class="p-3 property-card mb-4" fluid>
    <b-row>
      <b-col :cols="half ? 6 : 8">
        <b-img-lazy
          class="property-image"
          :src="property.images.length && property.images[0]"
          :alt="property.name"
          fluid-grow
        />
      </b-col>
      <b-col :cols="half ? 6 : 4">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="property-info d-flex flex-column gap-2">
            <p class="property-name mb-0">{{ property.name }}</p>
            <p
              class="
                property-location
                mb-0
                d-inline-block d-lg-block
                text-truncate
              "
            >
              {{ property.address }}
            </p>
            <p v-if="!purchased" class="property-price mb-0">
              NGN
              {{
                new Intl.NumberFormat().format($fromKobo(property.unit_price))
              }}
            </p>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <p
              v-if="subscription.status"
              class="last-update-time mb-0 text-capitalize"
            >
              {{ subscription.status.replace('_', ' ') }}
            </p>
            <p class="last-update-time mb-0">
              {{ property.updated_at | luxon }}
            </p>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  props: {
    property: {
      type: Object,
      required: true,
    },
    subscription: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    purchased: {
      type: Boolean,
      required: false,
      default: false,
    },
    half: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
}
</script>
<style lang="scss" scoped>
.property-card {
  box-shadow: 0 0 30px #090d7c0d;
  min-width: toRes(650);

  @media screen and (max-width: 992px) {
    min-width: toRem(300);
  }
  background: {
    color: var(--white);
  }
  .property-info {
    @media screen and (max-width: 992px) {
      gap: 0;
    }
  }
  .property-image {
    width: toRes(330);
    height: toRes(232);
    object-fit: cover;
    object-position: center;
    @media screen and (max-width: 992px) {
      width: toRem(119);
      height: toRem(120);
    }
  }
  .property-name {
    color: var(--dark);
    font: {
      size: toRes(20);
      weight: 500;
    }
    line-height: toRes(29);
    @media screen and (max-width: 992px) {
      font: {
        size: toRem(11);
      }
    }
  }

  .property-location {
    color: rgba($dark, 0.6);
    font: {
      size: toRes(20);
    }
    line-height: toRes(29);
    @media screen and (max-width: 992px) {
      font: {
        size: toRem(12);
      }
    }
  }

  .property-price {
    color: var(--dark);
    font: {
      size: toRes(25);
      weight: 700;
    }
    line-height: toRes(29);
    @media screen and (max-width: 992px) {
      font: {
        size: toRem(15);
      }
    }
  }

  .last-update-time {
    color: rgba($dark, 0.4);
    letter-spacing: -0.3;
    font: {
      size: toRem(15);
    }
    @media screen and (max-width: 992px) {
      font: {
        size: toRem(8);
      }
    }
  }
}
</style>
