<template>
  <div class="page-container">
    <section class="profile-section">
      <h4 class="header-text">Profile</h4>
      <div class="box-container">
        <div v-if="profile" class="profile-pic-container">
          <input
            id="profile-pic"
            type="file"
            name="image"
            accept="image/*"
            class="d-none"
            @change="uploadFile($event.target.files[0], 'landshares')"
          />
          <label class="btn edit-avatar-btn" for="profile-pic"
            >Edit Avatar</label
          >
          <b-img
            :src="
              profile.profile_pic ||
              require('@/assets/images/png/1620655858850.png')
            "
            class="profile-pic"
            fluid
          />
        </div>
        <div v-if="$auth.user.is_realtor" class="referral-container">
          <div class="box border-primary">
            <div class="referral-text">
              <p class="input-label">REALTOR STAGE</p>
              <div class="referral-code text-capitalize text-primary">
                {{ $auth.user.realtor_stage.replace('_', ' ') }}
              </div>
            </div>
          </div>
          <div class="box">
            <div class="referral-text">
              <p class="input-label">REALTOR REFERALL LINK</p>
              <div class="referral-code">
                register/realtor?code={{ $auth.user.phone }}
              </div>
            </div>
            <b-img
              src="~svg/content-copy.svg"
              class="copy-btn"
              @click.prevent="
                copyToClipboard(`register/realtor?code=${$auth.user.phone}`)
              "
            />
          </div>
          <div class="box">
            <div class="referral-text">
              <p class="input-label">CLIENT REFERALL LINK</p>
              <div class="referral-code">
                register?code={{ $auth.user.phone }}
              </div>
            </div>
            <b-img
              src="~svg/content-copy.svg"
              class="copy-btn"
              @click.prevent="
                copyToClipboard(`register?code=${$auth.user.phone}`)
              "
            />
          </div>
        </div>
      </div>
    </section>

    <section v-if="profile" class="kyc-section">
      <div class="form-section">
        <h4 class="subheader-text">BIO-DATA</h4>
        <div class="form-row">
          <div class="input-box date-input small-box">
            <p class="input-label">FIRST NAME</p>
            <input
              id="firstname"
              v-model="form.firstname"
              class="input-text"
              type="text"
              name="firstname"
              placeholder="First Name"
            />
          </div>
          <div class="input-box small-box">
            <p class="input-label">LAST NAME</p>
            <input
              id="lastname"
              v-model="form.lastname"
              class="input-text"
              type="text"
              name="lastname"
              placeholder="Last Name"
            />
          </div>
          <div class="input-box small-box">
            <p class="input-label">MIDDLE NAME</p>
            <input
              id="middlename"
              v-model="form.middlename"
              class="input-text"
              type="text"
              name="lastname"
              placeholder="Middle Name"
            />
          </div>
          <div class="input-box pb-0 small-box">
            <p class="input-label">DATE OF BIRTH</p>
            <b-form-datepicker
              id="datepicker-dateformat"
              v-model="form.dob"
              size="sm"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="en"
            ></b-form-datepicker>
          </div>
          <div class="input-box small-box">
            <p class="input-label">GENDER</p>
            <div class="select">
              <select id="standard-select" v-model="form.gender" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Prefer not to disclose</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="input-box small-box">
            <p class="input-label">MARITAL STATUS</p>
            <div class="select">
              <select
                id="standard-select"
                v-model="form.marital_status"
                name="marital_status"
              >
                <option value="">Select Marital Status</option>

                <option value="single">Single</option>
                <option value="married">Married</option>
              </select>
            </div>
          </div>
          <div class="input-box large-box">
            <p class="input-label">EMAIL ADDRESS</p>
            <input
              id="email"
              v-model="form.email"
              class="input-text"
              type="email"
              name="email"
              placeholder="Email Address"
              disabled
            />
          </div>
          <div class="input-box medium-box">
            <p class="input-label">PHONE NUMBER</p>
            <input
              id="phone-number"
              v-model="form.phone"
              class="input-text"
              type="tel"
              name="phone-number"
              placeholder="+234 906 8574 234"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="input-box large-box">
            <p class="input-label">ADDRESS</p>
            <input
              id="address"
              v-model="form.address"
              class="input-text"
              type="text"
              name="address"
              placeholder=""
            />
          </div>
          <div class="input-box small-box">
            <p class="input-label">State</p>
            <div class="select">
              <select
                id="standard-select"
                v-model="form.state_id"
                name="state_id"
              >
                <option value="">Select State</option>
                <option
                  v-for="state in states.rows || []"
                  :key="state.id"
                  :value="state.id"
                >
                  {{ state.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="input-box small-box">
            <p class="input-label">CITY</p>
            <div class="select">
              <select id="standard-select" v-model="form.lga_id" name="lga_id">
                <option value="">Select City</option>
                <option
                  v-for="lga in lgas.rows || []"
                  :key="lga.id"
                  :value="lga.id"
                >
                  {{ lga.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="input-box medium-box">
            <p class="input-label">COUNTRY</p>
            <select id="standard-select" v-model="form.country" name="country">
              <option value="">Select Country</option>
              <option value="nigeria">Nigeria</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-section">
        <h4 class="subheader-text">NEXT OF KIN</h4>
        <div class="form-row">
          <div class="input-box medium-box">
            <p class="input-label">FULL NAME</p>
            <input
              id="next-of-kin-name"
              v-model="form.next_of_kin_full_name"
              class="input-text"
              type="text"
              name="next-of-kin-name"
              placeholder=""
            />
          </div>
          <div class="input-box medium-box">
            <p class="input-label">PHONE NUMBER</p>
            <input
              id="next-of-kin-phone"
              v-model="form.next_of_kin_phone"
              class="input-text"
              type="tel"
              name="next-of-kin-phone"
              placeholder=""
            />
          </div>
          <div class="input-box small-box">
            <p class="input-label">RELATIONSHIP</p>
            <input
              v-model="form.next_of_relationship"
              name="next_of_relationship"
              class="input-text"
              type="text"
              placeholder=""
            />
          </div>
        </div>
        <div class="form-row">
          <div class="input-box large-box">
            <p class="input-label">ADDRESS</p>
            <input
              id="next-of-kin-address"
              v-model="form.next_of_kin_address"
              class="input-text"
              type="text"
              name="next-of-kin-address"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="mb-5 submit-wrapper">
        <BaseButton text="Save" @click.prevent="updateProfile" />
      </div>

      <form class="form-section" @submit.prevent="saveBankDetails">
        <h4 class="subheader-text">BANK DETAILS</h4>
        <div class="form-row">
          <div class="input-box medium-box">
            <p class="input-label">ACCOUNT NUMBER</p>
            <input
              id="account-number"
              v-model="userAccount.accountNumber"
              class="input-text"
              type="text"
              min="9"
              name="account-number"
              placeholder="Enter Account Number"
              required
            />
          </div>
          <div class="input-box small-box">
            <p class="input-label">DESTINATION BANK</p>
            <div class="select">
              <select
                id="standard-select"
                v-model="userAccount.bankCode"
                name="bank_code"
              >
                <option value="">Select Bank</option>
                <option
                  v-for="bank in banks"
                  :key="bank.code"
                  :value="bank.code"
                >
                  {{ bank.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-5 submit-wrapper">
          <BaseButton text="Submit" type="submit" />
        </div>
      </form>
    </section>
  </div>
</template>
<script>
import BaseButton from '@/components/BaseButton'
import * as S3 from 'aws-sdk/clients/s3'

import { mapActions, mapGetters } from 'vuex'

const defaultData = {
  firstname: '',
  lastname: '',
  middlename: '',
  phone: '',
  profile_pic: '',
  dob: '',
  gender: '',
  address: '',
  occupation: '',
  state_id: 0,
  lga_id: 0,
  country: '',
  next_of_kin_address: '',
  next_of_kin_full_name: '',
  next_of_kin_phone: '',
  next_of_relationship: '',
  marital_status: '',
}

export default {
  name: 'Profile',
  components: {
    BaseButton,
  },
  layout: 'customer',
  data() {
    return {
      form: {
        ...defaultData,
        ...this.$auth.user,
      },
      uploadUrl: '',
      userAccount: {
        accountNumber: '',
        bankCode: '',
        bankName: '',
      },
    }
  },
  head() {
    return {
      title: 'LandShares || Profile',
    }
  },
  computed: {
    ...mapGetters({
      banks: 'bank/banks',
      account: 'bank/account',
      states: 'state/all',
      lgas: 'lga/all',
    }),
    profile() {
      return this.$auth.user || {}
    },
  },
  watch: {
    account(val) {
      const [details] = val.rows
      if (details) {
        this.userAccount = {
          ...this.userAccount,
          accountNumber: details.account_number,
          bankCode: details.bank_code,
          bankName: details.bank_name,
        }
      }
    },
    'form.state_id'(val) {
      this.fetchLGAs({ state_id: val })
    },
  },
  mounted() {
    const loader = this.$loading.show()
    try {
      this.fetchBanks()
      this.fetchAccount()
      this.fetchStates()
      if (this.$auth.user.state_id) {
        this.fetchLGAs({ state_id: this.$auth.user.state_id })
      }
    } catch (e) {
      this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
    }
    loader.hide()
  },
  methods: {
    ...mapActions({
      updateUser: 'user/updateProfile',
      fetchBanks: 'bank/getBanks',
      fetchAccount: 'bank/fetchBankAccount',
      createAccount: 'bank/createBankAccount',
      saveAccount: 'bank/updateBankAccount',
      fetchStates: 'state/getStates',
      fetchLGAs: 'lga/getLGAs',
    }),
    async uploadFile(file, FOLDER) {
      await new Promise((resolve, reject) => {
        const loader = this.$loading.show()
        const contentType = file.type
        const timestampprefix = new Date().getTime()
        const bucket = new S3({
          accessKeyId: process.env.APP_AWS_ID,
          secretAccessKey: process.env.APP_AWS_SECRET_ACCESS_KEY,
          region: 'us-east-1',
        })

        const params = {
          Bucket: process.env.APP_AWS_BUCKET,
          Key: `${FOLDER}/user-${this.$auth.user.id}/${timestampprefix}${file.name}`,
          Body: file,
          ACL: 'public-read',
          ContentType: contentType,
        }
        bucket
          .upload(params)
          .on('httpUploadProgress', (evt) => {
            this.uploading = true
            this.value = Math.ceil((evt.loaded / evt.total) * 100)
          })
          .send((err, data) => {
            loader.hide()
            this.uploading = false
            this.exist = true
            if (err) {
              reject(err)
            }
            this.uploadUrl = data.Location
            this.form = { ...this.form, profile_pic: data.Location }
            this.updateProfile()
            resolve(data)
          })
      })
    },
    async updateProfile() {
      const loader = this.$loading.show()
      try {
        const payload = {}
        Object.entries(defaultData).forEach(([item]) => {
          payload[item] = this.form[item]
        })

        await this.updateUser({ type: 'customer', payload })
        loader.hide()

        await this.$Toast.fire({
          icon: 'success',
          title: 'Profile Updated',
        })
        await this.$auth.fetchUser()
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
      }
    },
    async saveBankDetails() {
      const [selectedBank] = this.banks.filter(
        (item) => item.code === this.userAccount.bankCode
      )

      if (!selectedBank) {
        await this.$Toast.fire({ icon: 'warn', title: 'Please select bank' })
      }
      const loader = this.$loading.show()
      try {
        const payload = {
          bank_code: selectedBank.code,
          bank_name: selectedBank.name,
          account_number: this.userAccount.accountNumber,
        }
        if (this.account?.rows.length > 0) {
          await this.saveAccount(payload)
        } else {
          await this.createAccount(payload)
        }
        loader.hide()

        await this.$Toast.fire({
          icon: 'success',
          title: 'Bank Account Saved',
        })
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({ icon: 'error', title: 'Invalid Bank Details' })
      }
    },
    copyToClipboard(text) {
      const link = `${process.env.baseUrl}/${text}`
      this.$copyText(link).then(
        (e) => {
          this.$Toast.fire({ icon: 'info', title: 'Link Copied' })
        },
        (e) => {
          this.$Toast.fire({ icon: 'error', title: 'Unable to copy link' })
        }
      )
    },
  },
}
</script>
<style lang="scss" scoped>
.profile-section {
  padding: 6% 4% 3%;
  background: var(--white);
}

.header-text {
  font-weight: 600;
  font-size: toRes(30);
  margin-bottom: 30px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.profile-pic-container {
  position: relative;
  width: toRes(200);
  min-height: toRes(200);
  border-radius: 50%;
}

.profile-pic {
  border-radius: 50%;
}

.edit-avatar-btn {
  position: absolute;
  font-size: toRes(15);
  opacity: 0;
  top: 39%;
  left: 12%;
  right: 0%;
  width: 115px;
  height: 35px;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  outline: none;
  border: none;
  transition: 0.2s all ease-out;
  @media screen and (max-width: 768px) {
    opacity: 1;
  }
}

.profile-pic-container:hover .edit-avatar-btn {
  opacity: 1;
}

.edit-avatar-btn:hover {
  color: var(--white);
  background-position: bottom left;
}

.box {
  position: relative;
  width: toRes(600);
  padding: 10px 15px;
  border: 1px solid var(--black);
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.copy-btn {
  position: absolute;
  top: 32%;
  right: 5%;
  cursor: pointer;
}

.input-label {
  font-size: toRes(15);
  font-weight: 800;
  color: var(--black);
  opacity: 0.4;
  margin-bottom: 3px;
}

.referral-code {
  font-weight: 500;
  font-size: toRes(25);
  color: var(--black);
}

.kyc-section {
  padding-top: 4%;
  padding-right: 4%;
  padding-left: 4%;
}

.form-section {
  margin-bottom: 40px;
}

.form-row {
  display: flex;
  //flex-wrap: nowrap;
  width: 100%;
  align-items: flex-start;
  gap: 15px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.subheader-text {
  font-weight: 600;
  font-size: toRes(25);
  margin-bottom: 30px;
}

.input-box {
  border: 1px solid var(--light);
  padding: 10px 20px;
  margin-bottom: 15px;
}

// .date-input {
//   height: 65px;
// }

.input-box:hover {
  border: 1px solid var(--dark);
}

.input-box:hover .input-label {
  color: var(--dark);
}

.small-box {
  width: 24%;
}

.medium-box {
  width: 30%;
}

.large-box {
  width: 45%;
}
.large-box,
.medium-box,
.small-box {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

input,
.form-control {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: normal;
  white-space: nowrap;
}

// .datepicker svg {
//   height: 5px !important;
//   width: 5px !important;
// }

// .b-form-btn-label-control.form-control > .btn {
//   line-height: 1;
//   font-size: 15px !important;
//   box-shadow: none !important;
//   border: 0;
// }

.b-form-datepicker {
  & > .form-control {
    padding: 0;
    min-height: 2.125rem;
  }
}
.input-text,
.form-control {
  font-weight: 500;
  font-size: toRes(25);
  color: var(--gray);
}

div.select {
  width: 100%;
}
.submit-wrapper {
  margin-left: -0.5rem;
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  // padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  outline: none;
  cursor: pointer;
  font-size: toRes(25);
  font-weight: 500;
}

input:focus,
.form-control:focus,
.form-control:active,
textarea:focus,
select:focus {
  outline: none;
}
</style>
