<template>
  <div class="page-container">
    <div v-if="product" class="d-flex mb-3 mt-4 mt-lg-0">
      <img
        :src="require('@/assets/images/svg/back-arrow.svg')"
        class="mr-3 back-arrow"
        alt=""
        @click="$router.back()"
      />
      <PageTitle :title="product.name" />
    </div>
    <div class="d-flex properties-grid scrollbar">
      <div v-for="image in images" :key="image.src">
        <ProductSlider :image="image" />
      </div>
    </div>

    <ProductDetails v-if="product" :product="product" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    PageTitle: () => import('@/components/PageTitle'),
    ProductSlider: () => import('@/components/products/ProductSlider'),
    ProductDetails: () => import('@/components/products/ProductDetails'),
  },
  layout: 'customer',
  data() {
    return {}
  },
  head() {
    return {
      title: 'LandShares || Property',
    }
  },
  computed: {
    ...mapGetters({ product: 'product/single' }),
    images() {
      return (
        (this.product &&
          this.product.images.map((image) => ({ src: image }))) ||
        []
      )
    },
  },
  async mounted() {
    const loader = this.$loading.show()
    try {
      await this.fetchProduct(this.$route.params.id)
    } catch (e) {
      this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
    }
    loader.hide()
  },
  methods: {
    ...mapActions({ fetchProduct: 'product/single' }),
  },
}
</script>

<style lang="scss" scoped>
.properties-grid {
  overflow-x: auto;
  width: 72.2vw;

  @media screen and (max-width: 768px) {
    width: 94.5vw;
  }
}
</style>
