<template>
  <div class="page-container">
    <SearchFilter @search="searchItems" @sort="sortBy" />
    <PageTitle
      v-if="subscriptions.length"
      title="Owned Properties"
      class="mt-4 mb-3"
    />
    <b-row v-if="subscriptions.length">
      <b-col
        v-for="subscription in subscriptions"
        :key="subscription.id"
        cols="12"
        md="12"
        lg="6"
      >
        <nuxt-link
          :to="`/customer/subscriptions/${subscription.id}`"
          class="text-decoration-none"
        >
          <property
            :property="subscription.product"
            half
            purchased
            :subscription="subscription"
          />
        </nuxt-link>
      </b-col>
    </b-row>

    <PageTitle title="Listed Properties" class="mt-5 mb-3" />
    <b-row>
      <b-col
        v-for="property in products.rows"
        :key="property.id"
        cols="12"
        md="12"
        lg="6"
      >
        <nuxt-link
          :to="`/customer/properties/${property.id}`"
          class="text-decoration-none"
        >
          <Property :property="property" half />
        </nuxt-link>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

import SearchFilter from '../../../components/products/Search-Filter.'
import PageTitle from '../../../components/PageTitle'
import Property from '../../../components/cards/Property'
export default {
  components: {
    Property,
    PageTitle,
    SearchFilter,
  },
  layout: 'customer',
  data() {
    return {
      sort_by: '',
      statuses: ['completed', 'on_going', 'paused'],
    }
  },
  head() {
    return {
      title: 'LandShares || Proprties',
    }
  },
  computed: {
    ...mapGetters({
      products: 'product/all',
      properties: 'product/subscriptions',
    }),
    subscriptions() {
      return (
        (this.properties.rows &&
          this.properties.rows.filter((item) =>
            this.statuses.includes(item.status)
          )) ||
        []
      )
    },
  },
  async mounted() {
    await this.loadData()
  },
  methods: {
    ...mapActions({
      fetchProducts: 'product/all',
      fetchSubscriptions: 'product/subscriptions',
    }),
    async loadData() {
      const loader = this.$loading.show()
      try {
        await this.fetchProducts()
        await this.fetchSubscriptions({ customer_id: this.$auth.user.id })
      } catch (e) {
        this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
      }
      loader.hide()
    },
    async searchItems(search) {
      document.querySelector('#search-input').blur()
      if (!search) {
        await this.loadData()
      }
      const loader = this.$loading.show()
      try {
        await this.fetchProducts({ search })
        await this.fetchSubscriptions({
          customer_id: this.$auth.user.id,
          search,
        })
      } catch (e) {
        await this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
      }
      loader.hide()
    },
    async sortBy(val) {
      const loader = this.$loading.show()
      try {
        await this.fetchProducts({ order: val, sort_by: 'created_at' })
        await this.fetchSubscriptions({
          customer_id: this.$auth.user.id,
          order: val,
          sort_by: 'created_at',
        })
      } catch (e) {
        await this.$Toast.fire({ icon: 'error', title: this.$formatError(e) })
      }
      loader.hide()
    },
  },
}
</script>
<style lang="scss" scoped></style>
