<template>
  <b-container fluid="xxxl" class="dashboard p-0 min-h-screen">
    <b-row no-gutters align-h="end">
      <b-col cols="12" class="position-fixed sidebar-wrapper d-none d-lg-block">
        <sidebar :links="links" />
      </b-col>
      <b-col
        cols="12"
        class="position-fixed mobile-nav-wrapper d-block d-lg-none"
      >
        <mobile-navbar />
        <mobile-sidebar :links="links" />
      </b-col>

      <b-col md="12" lg="9" class="pt-5 pt-lg-5">
        <Nuxt />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  components: {
    sidebar: () => import('@/components/layouts/Sidebar'),
    MobileNavbar: () => import('@/components/layouts/MobileNavbar'),
    MobileSidebar: () => import('@/components/layouts/MobileSidebar'),
  },
  middleware: ['auth'],
  data() {
    return {
      links: [
        {
          title: 'Dashboard',
          name: 'customer-dashboard',
          image: require('@/assets/images/svg/dashboard.svg'),
          show: true,
        },
        {
          title: 'Properties',
          name: 'customer-properties',
          image: require('@/assets/images/svg/warehouse.svg'),
          show: true,
        },
        {
          title: 'Rewards',
          name: 'customer-realtor',
          image: require('@/assets/images/svg/star-of-life.svg'),
          show: this.$auth.user.is_realtor,
        },
        {
          title: 'Wallet',
          name: 'customer-wallet',
          image: require('@/assets/images/svg/wallet.svg'),
          show: true,
        },
        {
          title: 'Profile',
          name: 'customer-profile',
          image: require('@/assets/images/svg/user-alt.svg'),
          show: true,
        },
      ],
    }
  },
  mounted() {},
}
</script>
<style lang="scss">
.dashboard {
  min-height: 100vh;
  background: {
    color: #fafbff;
  }

  .sidebar-wrapper {
    left: 0;
    width: 22%;
  }

  .mobile-nav-wrapper {
    z-index: 1000;
  }
}
</style>
