<template>
  <div class="landing-page-container">
    <NavBar />

    <div class="landing-page-banner">
      <div class="introductory-text">
        <h1 class="header-text">
          We are a Real Estate &amp; Agricultural Development Company
        </h1>
        <p class="call-to-action">
          Join the thousands of individuals who are growing their shares with
          Landshares
        </p>
        <NuxtLink to="/register" class="cta-btn">Register as client</NuxtLink>
        <NuxtLink to="/register/realtor" class="cta-btn"
          >Register as Realtor</NuxtLink
        >
      </div>
    </div>

    <section id="about" class="about-us-section d-flex justify-content-center">
      <div class="about-wrapper d-flex align-items-center">
        <div class="about-container px-3 px-lg-5">
          <h3 class="section-title about-title">About Us</h3>
          <p class="section-paragraph">
            Landshares Limited is a REAL ESTATE AND AGRICULTURAL DEVELOPMENT
            COMPANY with a mission to solve Africa’s HOUSING and FEEDING
            problems.
          </p>
          <p class="section-paragraph">
            By providing a digitally accessible real estate investment solution,
            Landshares Limited is taking the lead in providing investment plans
            for all calibre of people for shared prosperity.
          </p>
        </div>
        <div class="about-image-container">
          <b-img
            src="@/assets/images/svg/back-image.svg"
            class="back-image"
            fluid
          />
          <b-img
            src="@/assets/images/svg/front-image.svg"
            class="front-image"
            fluid
          />
        </div>
      </div>
    </section>

    <section v-if="false" id="faq" class="faq-section">
      <h3 class="section-title faq-title">frequently asked questions</h3>
      <div class="faq-list">
        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>

        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>

        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>

        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>

        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>

        <div class="faq-item">
          <p class="faq-question">How do I buy land from Landshares</p>
          <div class="arrow-container">
            <b-img
              src="@/assets/images/svg/right-arrow.svg"
              class="faq-arrow"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact-section">
      <div class="contact-form-container">
        <h3 class="section-title contact-title">contact us</h3>
        <p class="section-paragraph">
          Have a project we can help with? Give us a call or reach out to us on
          social media
        </p>
        <div class="form-container">
          <form action="">
            <div class="email">
              <input
                id="email"
                type="email"
                name="email"
                placeholder="Email Address"
                autocomplete="off"
              />
            </div>
            <div class="message">
              <textarea
                id="message"
                name="message"
                cols="30"
                rows="1"
                placeholder="Your Message"
              ></textarea>
            </div>
            <button type="submit" class="cta-btn submit-btn">
              Send Message
            </button>
          </form>
        </div>
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.3602622593025!2d3.2999317152558643!3d6.602073324075381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91aef84ac8a1%3A0xa2cb6cf159c58d3b!2sAkowonjo%20Rd%2C%20Lagos!5e0!3m2!1sen!2sng!4v1624446557150!5m2!1sen!2sng"
          class="map-box"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
        <!-- <b-img src="@/assets/images/svg/map-location.svg" class="map-box" /> -->
      </div>
    </section>
    <Footer class="footer" />
  </div>
</template>

<script>
export default {
  components: {
    NavBar: () => import('@/components/NavBar'),
    Footer: () => import('@/components/Footer'),
  },

  // mounted() {
  //   this.$router.push({ name: 'login' })
  // },
}
</script>

<style lang="scss" scoped>
.landing-page-container {
  min-height: 100vh;
  width: 100%;
}

.landing-page-banner {
  background-image: url(@/assets/images/png/banner.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8%;
  position: relative;
  padding-top: 3%;
}

.introductory-text {
  padding-top: 8%;
  padding-left: 10%;
  position: relative;
  z-index: 10;
}

.header-text {
  text-transform: uppercase;
  font-size: toRes(50);
  font-weight: 700;
  width: 45%;
  line-height: toRes(70);
  margin-bottom: 30px;
}

.call-to-action {
  font-size: toRes(30);
  font-weight: 500;
  width: 36%;
  margin-bottom: 50px;
}

.cta-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: toRes(20);
  font-weight: 500;
  background: var(--cta-primary);
  color: var(--white);
  // padding: 20px 65px;
  padding-top: toRes(20);
  padding-bottom: toRes(20);
  text-align: center;
  border: none;
  margin-right: 30px;
  // margin-bottom: 30px;
  width: 18rem;
}

.cta-btn:hover {
  text-decoration: none;
  background: var(--cta-accent);
}

.landing-page-banner::before {
  content: '';
  background-image: linear-gradient(to top, transparent, rgb(255, 255, 255));
  width: 100vw;
  height: 300px;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.landing-page-banner::after {
  content: '';
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.877)
  );
  width: 100vw;
  height: 150px;
  background-size: cover;
  display: block;
  position: absolute;
  bottom: 0;
}

.about-us-section {
  // width: 70%;
  padding-left: 4%;
  // gap: toRes(50);
  padding-bottom: 12%;
  margin-bottom: 40px;
}

.about-wrapper {
  width: 90%;
}

.about-container {
  width: 45%;
}

// .back-image {
//   width: toRes(414);
//   height: toRes(654);
// }

.section-title {
  font-size: toRes(40);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-paragraph {
  font-size: toRes(25);
  font-weight: 500;
  margin-bottom: 40px;
}

.about-image-container {
  position: relative;
}

.front-image {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 40%;
}

.faq-section {
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.faq-title {
  width: 30%;
  margin-bottom: 50px;
}

.faq-item {
  display: flex;
  align-items: center;
  font-size: toRes(30);
  font-weight: 500;
  margin-bottom: 40px;
  width: 50%;
  gap: 15%;
}

.faq-question {
  margin-bottom: 0;
}

.contact-section {
  display: flex;
  padding-left: 10%;
  align-items: center;
  gap: 10%;
}

.contact-form-container {
  width: 50%;
}

.map-container {
  width: 50vw;
}

.map-box {
  // object-fit: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  bottom: -6px;
}

.form-container {
  // width: 55%;

  input,
  textarea {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid var(--light);
    padding-bottom: 10px;
    font-size: toRes(20);
    width: 100%;
    margin-bottom: 40px;
    background: none;
    // transition: border-bottom 0.3s ease-out;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--gray);
  }

  textarea {
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 0.6;
    font-weight: 500;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .landing-page-banner {
    // display: flex;
    height: 92vh;
    // justify-content: center;
  }
  .header-text {
    width: 70%;
    padding-top: 15%;
  }
  .call-to-action {
    width: 60%;
  }

  .about-wrapper {
    flex-direction: column;
  }

  .about-container {
    width: 90%;
  }

  .contact-section {
    flex-direction: column;
    padding-left: 0;
  }

  .contact-form-container {
    width: 80%;
    padding-bottom: 50px;
  }

  .map-container {
    width: 100%;
  }

  .map-box {
    // width: 100%;
    height: 40vh;
  }
}

@media only screen and (max-width: 768px) {
  .introductory-text {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .header-text {
    font-size: toRes(35);
    width: 100%;
    padding-top: 35%;
    line-height: toRes(80);
    font-weight: 800;
  }
  .call-to-action {
    width: 100%;
    font-size: toRes(25);
  }

  .cta-btn {
    margin-bottom: 30px;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-us-section {
    padding-left: 0;
    margin-bottom: 40px;
  }
  .about-container {
    width: 100%;
  }

  .about-title {
    font-size: toRes(35);
  }

  .section-paragraph {
    font-size: toRes(20);
  }

  .back-image {
    width: toRes(207);
    height: toRes(347);
  }

  .faq-section {
    padding-left: 8%;
    padding-left: 8%;
  }

  .faq-title {
    width: 80%;
    font-size: toRes(35);
  }

  .faq-item {
    width: 90%;
  }

  .faq-question {
    font-size: toRes(20);
  }

  .contact-section {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
  }

  .contact-form-container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 40px;
  }

  .contact-title {
    font-size: toRes(35);
  }

  .submit-btn {
    padding: 15px 35px;
    border: none;
  }

  .map-box {
    width: 100vw;
    height: 40vh;
  }
}
</style>
