<template>
  <b-container fluid class="admin-dashboard">
    <b-row class="mb-5">
      <b-col cols="12" lg="3">
        <div class="stats-card bg-white">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <p class="stat-header">250</p>
              <p class="stat-detail">
                <nuxt-link :to="{ name: 'admin-payments-pendings' }"
                  >Pending Approval</nuxt-link
                >
              </p>
            </div>
            <div>
              <b-img src="~svg/Group 2 (1).svg" fluid />
            </div>
          </div>
        </div>
      </b-col>
      <b-col cols="12" lg="3">
        <div class="stats-card bg-white">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <p class="stat-header">229</p>
              <p class="stat-detail">Payment Defaults</p>
            </div>
            <div>
              <b-img src="~svg/Group 2 (2).svg" fluid />
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Payments',
  components: {},
  layout: 'admin',
  data() {
    return {}
  },
  head() {
    return {
      title: 'Landshares || Payments',
    }
  },
  computed: {},
  async mounted() {},
}
</script>
