<template>
  <b-modal
    id="upload-proof"
    :no-close-on-backdrop="true"
    :no-close-on-esc="true"
    :hide-footer="true"
    centered
    title="Proof of Payment Details"
    dialog-class="upload-proof-dialog"
    modal-class="upload-proof-modal"
    ><b-form @submit.prevent="submit">
      <b-row class="mb-4">
        <b-col md="12" lg="6">
          <p class="mb-0">GTBank</p>
          <h3 class="mb-0">0560076937</h3>
          <p>Landshares Limited</p>
        </b-col>
        <b-col md="12" lg="6">
          <p class="mb-0">Zenith</p>
          <h3 class="mb-0">1017024171</h3>
          <p>Landshares Limited</p>
        </b-col>
        <b-col cols="6"></b-col>
      </b-row>
      <b-row>
        <b-col md="12" lg="6">
          <upload-file
            v-if="form.name"
            :form="form"
            class="mb-3"
            @completed="updateImages"
          />
        </b-col>
        <b-col md="12" lg="6">
          <b-form-group
            id="bank-reference-label"
            label="Payment Reference (Optional)"
            label-for="bank-reference"
          >
            <b-form-input
              id="bank-reference"
              v-model="poc.bank_reference"
              type="text"
              number
              placeholder="Enter Payment reference if available"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-button type="submit" variant="dark">Upload payment</b-button>
    </b-form>
  </b-modal>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ProofOfPayment',
  components: {
    uploadFile: () => import('@/components/uploadFile'),
  },
  props: {
    form: {
      type: Object,
      required: false,
      default: () => ({}),
    },
  },
  data() {
    return {
      poc: {
        amount: 0,
        proof_of_payment: '',
        bank_reference: '',
        product_sub_id: '',
        purpose: 'product_sub_payment',
      },
    }
  },
  watch: {
    form(val) {
      this.poc = { ...val }
    },
  },
  mounted() {
    this.poc = { ...this.form }
  },
  methods: {
    ...mapActions({
      uploadProof: 'fundRequests/create',
    }),
    updateImages(val) {
      this.poc.proof_of_payment = val.length && val[0]
    },
    async submit() {
      const loader = this.$loading.show()

      const payload = {
        ...this.poc,
      }
      if (!payload.bank_reference) {
        delete payload.bank_reference
      }
      if (!payload.product_sub_id) {
        delete payload.product_sub_id
      }
      try {
        await this.uploadProof(payload)
        loader.hide()
        this.$Toast.fire({
          icon: 'success',
          title:
            'Your payment proof was successfully uploaded, It will be approved shortly once the payment is confirmed',
        })
        this.$bvModal.hide('upload-proof')
        await this.$emit('completed', true)
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({
          icon: 'error',
          title: this.$formatError(e),
        })
      }
    },
  },
}
</script>

<style scoped></style>
