<template>
  <div class="purchase-modal-container">
    <b-modal
      id="modal-lg"
      ref="modal-lg"
      class="purchase-modal"
      size="lg"
      hide-header
      hide-footer
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      title="Large Modal"
      dialog-class="purchase-dialog"
      modal-class="purchase-modal"
    >
      <div class="d-flex mb-4 px-lg-0 px-3">
        <img
          :src="require('@/assets/images/svg/back-arrow.svg')"
          class="mr-3 back-arrow"
          alt=""
          @click="closeModal"
        />
        <PageTitle :title="`${product.name}, ${product.address}`" />
      </div>

      <b-row class="">
        <b-col cols="12" lg="8">
          <div class="d-lg-flex pd-lg-0">
            <div
              class="
                p-card
                d-flex
                flex-column
                justify-content-between
                shadow
                p-4
                bg-white
                mr-lg-4
                w-lg-50
                mb-4 mb-lg-0
              "
            >
              <span>total price</span>
              <h1>
                NGN
                {{
                  formatAsMoney(
                    calculatePrice(
                      mobilePlan.amount_per_unit || plan.amount_per_unit
                    )
                  )
                }}
              </h1>
              <small
                v-if="
                  mobile_payment_plan === 'installment' &&
                  mobilePlan.minimun_deposit_amount
                "
                class="d-block"
              >
                Initial Deposit:
                <b>
                  NGN
                  {{
                    formatAsMoney(
                      calculatePrice(mobilePlan.minimun_deposit_amount)
                    )
                  }}
                </b>
              </small>
              <div class="mt-auto">
                <span class="d-block mb-0">no special request</span>
              </div>
            </div>
            <div
              v-if="plan.type === 'installment'"
              class="
                p-card
                breakdown-card
                shadow
                p-3
                bg-white
                w-lg-50
                d-none d-lg-flex
                flex-column
                justify-content-between
              "
            >
              <div>
                <span>payment breakdown</span>
                <div>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">Initial Payment:</span>
                    <h1 class="mb-0">
                      NGN
                      {{
                        formatAsMoney(
                          calculatePrice(plan.minimun_deposit_amount)
                        )
                      }}
                    </h1>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="mr-2"> Balance: </span>
                    <h1>
                      NGN
                      {{
                        formatAsMoney(
                          calculatePrice(
                            mobilePlan.amount_per_unit || plan.amount_per_unit
                          ) - calculatePrice(plan.minimun_deposit_amount)
                        )
                      }}
                    </h1>
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-end w-100">
                <div class="w-100 mb-1">
                  <span class="d-block mb-2">duration to complete payment</span>
                  <div class="my-select px-4 mb-3">
                    <select id="payment-plan" name="pay" disabled>
                      <option :value="plan.id">
                        {{ plan.duration }}Months
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-lg-0 px-2 d-none d-lg-block">
            <div class="bg-white mt-4 terms px-4 py-4 shadow">
              <Terms />
              <div class="mt-4">
                <input
                  id="styled-checkbox-1"
                  v-model="agreed"
                  type="checkbox"
                  class="styled-checkbox"
                />
                <label for="styled-checkbox-1"
                  >Agree to our Terms and Conditions</label
                >
              </div>
            </div>
          </div>
          <div class="d-block d-lg-none">
            <div class="d-lg-none mobile-view mx-2 mobile-units-input">
              <b-form-group
                :description="`Units available: ${product.total_units}`"
                label="No of Units"
                label-for="no-of-units"
                class="text-dark"
              >
                <b-form-input
                  id="no-of-units"
                  v-model="mobileUnits"
                  type="number"
                  :max="product.total_units"
                  :min="minUnits"
                  number
                  class="bg-white py-3 px-4 mb-3"
                  trim
                />
              </b-form-group>
            </div>
            <div class="d-lg-none mobile-view">
              <div class="my-select mx-2 bg-white py-2 px-4 mb-3">
                <select
                  id="payment-plan"
                  v-model="mobile_payment_plan"
                  name="pay"
                >
                  <option value="">Select Payment Type</option>
                  <option value="out_right">Outright Payment</option>
                  <option value="installment">Installment Payment</option>
                </select>
              </div>
            </div>
            <div
              v-if="mobile_payment_plan === 'installment'"
              class="d-lg-none mobile-view"
            >
              <div class="my-select mx-2 bg-white py-2 px-4 mb-3">
                <select id="payment-plan" v-model="planId" name="payment_plans">
                  <option value="">Select Duration</option>
                  <option
                    v-for="payment_plan in getPlanType('installment')"
                    :key="payment_plan.id"
                    :value="payment_plan.id"
                  >
                    {{ payment_plan.duration }} Months
                  </option>
                </select>
              </div>
            </div>
            <div class="d-lg-none mobile-view">
              <div class="my-select mx-2 bg-white py-2 px-4 mb-3">
                <select id="payment-plan" v-model="paymentMethod" name="pay">
                  <option
                    v-for="method in paymentMethods"
                    :key="method.key"
                    :value="method.key"
                  >
                    {{ method.title }}
                  </option>
                </select>
              </div>
            </div>
            <b-card no-body class="mx-2 mb-5">
              <b-card-header header-tag="header" class="" role="tab">
                <div
                  v-b-toggle.accordion-2
                  block
                  class="
                    collapse-control
                    d-flex
                    justify-content-between
                    align-items-center
                    px-2
                    py-2
                  "
                >
                  <p class="mb-0">Terms and Conditions</p>
                  <b-icon
                    icon="caret-down-fill"
                    class="mr-2 search-icon"
                  ></b-icon>
                </div>
              </b-card-header>
              <b-collapse
                id="accordion-2"
                accordion="my-accordion"
                role="tabpanel"
              >
                <b-card-body>
                  <b-card-text>
                    <Terms />
                  </b-card-text>
                  <div class="mt-4">
                    <input
                      id="styled-checkbox-2"
                      v-model="agreed"
                      type="checkbox"
                      class="styled-checkbox"
                    />
                    <label for="styled-checkbox-2"
                      >Agree to our Terms and Conditions</label
                    >
                  </div>
                </b-card-body>
              </b-collapse>
            </b-card>

            <BaseButton
              v-if="paymentMethod !== 'fund_request'"
              v-b-modal.modal-lg
              :text="'Pay Now Via ' + paymentMethod"
              variant="dark"
              class="d-lg-none d-block mobile-btn"
              @click.prevent="subscribeToProduct"
            />
            <BaseButton
              v-else
              v-b-modal.modal-lg
              text="Upload Proof of Payment"
              variant="dark"
              class="d-lg-none d-block mobile-btn"
              @click.prevent="subscribeToProduct"
            />
          </div>
        </b-col>
        <b-col cols="0" lg="4" class="position-relative d-lg-block d-none">
          <div class="bg-white">
            <div class="my-select px-4 mb-3 payment-method">
              <select id="payment-plan" v-model="paymentMethod" name="pay">
                <option
                  v-for="method in paymentMethods"
                  :key="method.key"
                  :value="method.key"
                >
                  {{ method.title }}
                </option>
              </select>
            </div>
          </div>
          <div class="position-absolute pay-btn">
            <BaseButton
              v-if="paymentMethod !== 'fund_request'"
              :text="'Pay With ' + paymentMethod"
              variant="green"
              class="text-capitalize"
              :disable-button="!agreed"
              @click.prevent="subscribeToProduct"
            />
            <BaseButton
              v-else
              text="Upload Proof of Payment"
              variant="green"
              :disable-button="!agreed"
              @click.prevent="subscribeToProduct"
            />
          </div>
        </b-col>
      </b-row>
      <proof-of-payment :form="poc" @completed="completePayment" />
    </b-modal>
  </div>
</template>

<script>
import BaseButton from '@/components/BaseButton'
import PageTitle from '@/components/PageTitle'
import { mapActions } from 'vuex'
import Terms from './Terms'

export default {
  components: {
    PageTitle,
    BaseButton,
    Terms,
    ProofOfPayment: () => import('@/components/modals/ProofofPayment'),
  },
  props: {
    plan: {
      type: Object,
      required: true,
    },
    product: {
      type: Object,
      required: true,
    },
    units: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      poc: {
        name: '',
        proof_of_payment: '',
        bank_reference: '',
        product_sub_id: '',
        purpose: 'product_sub_payment',
        amount: 0,
      },
      paymentMethods: [
        { key: 'wallet', title: 'Pay Via Wallet' },
        // { key: 'paystack', title: 'Pay Via Card' },
        { key: 'fund_request', title: 'Upload Proof of Payment' },
      ],
      paymentMethod: 'wallet',
      mobile_payment_plan: '',
      planId: '',
      mobilePlan: {},
      mobileUnits: 1,
      minUnits: 1,
      agreed: false,
    }
  },
  watch: {
    planId(val) {
      this.mobilePlan = val
        ? this.product.payment_plans.filter(
            (item) => item.id === val && item.is_active
          )[0]
        : this.getPlanType('out_right')[0]
    },
    mobile_payment_plan(val) {
      if (val === 'out_right') {
        this.mobilePlan = { ...this.plan }
      }
    },
    units(val) {
      this.mobileUnits = val
    },
  },
  mounted() {},
  methods: {
    ...mapActions({
      subscribe: 'product/subscribe',
    }),
    closeModal() {
      this.$refs['modal-lg'].hide()
    },
    completePayment() {
      this.closeModal()
      this.$router.push({ name: 'customer-properties' })
    },
    getPlanType(type) {
      return this.product.payment_plans.filter(
        (item) => item.type === type && item.is_active
      )
    },
    calculatePrice(amount) {
      const newPrice =
        this.units < this.mobileUnits
          ? this.mobileUnits * amount
          : this.units * amount
      return this.$fromKobo(newPrice)
    },
    formatAsMoney(amount) {
      return new Intl.NumberFormat().format(amount)
    },
    async subscribeToProduct() {
      const loader = this.$loading.show()
      const actualPrice = this.calculatePrice(
        this.mobilePlan.minimun_deposit_amount ||
          this.plan.minimun_deposit_amount
      )
      const payload = {
        units: this.mobileUnits || this.units,
        initial_payment_amount: Number(this.$toKobo(actualPrice)),
        product_id: this.product.id,
        payment_plan_id: this.mobilePlan.id || this.plan.id,
        callback_url: `${process.env.baseUrl}/customer/properties`,
        payment_method: this.paymentMethod,
      }
      try {
        const response = await this.subscribe(payload)
        if (response.payload.paystackUrl) {
          window.location.assign(response.payload.paystackUrl)
        } else {
          loader.hide()

          if (payload.payment_method === 'fund_request') {
            this.poc = {
              ...this.poc,
              name: `subscription-${response.payload.createdSubscription.id}`,
              product_sub_id: response.payload.createdSubscription.id,
              amount: payload.initial_payment_amount,
            }
            this.$bvModal.show('upload-proof')
          } else {
            await this.$Toast.fire({
              icon: 'success',
              title: 'Purchase successful',
            })
            this.$bvModal.hide('modal-lg')
            await this.$router.push({ name: 'customer-properties' })
          }
        }
      } catch (e) {
        loader.hide()
        await this.$Toast.fire({
          icon: 'error',
          title: this.$formatError(e),
        })
      }
    },
  },
}
</script>

<style lang="scss">
.purchase-modal + .modal-backdrop {
  background-color: rgb(235, 235, 235);
  opacity: 1 !important;
  left: 23%;
  @media screen and (max-width: 768px) {
    left: 0;
  }
}
.purchase-dialog {
  left: 5vw;
  top: 4%;
  @media screen and (max-width: 768px) {
    left: 0;
  }

  .modal-body {
    padding: 0;
  }

  // background-color: black !important;

  .modal-content {
    background-color: transparent;
    width: 1000px;
    border: none;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .p-card {
    text-transform: uppercase;
    height: 220px;
    @media screen and (max-width: 768px) {
      height: 150px;
    }

    h1 {
      font-size: toRem(25);
      font-family: $secondary-font;
    }

    span {
      font-size: 14px;
      font-weight: 400;
    }

    .my-select {
      border: 1px solid #000;
    }
  }

  .breakdown-card {
    h1 {
      font-size: toRem(20);
    }
  }

  .payment-method {
    padding: 20px 60px !important;

    select {
      font-size: 18px;

      span {
        font-weight: bold !important;
      }
    }
  }

  .mobile-units-input {
    & input {
      border: 1px solid #000;
      border-radius: 0;
      height: auto;
    }
  }

  #payment-plan {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: none;
  }

  #payment-plan:focus {
    outline: none;
  }

  .terms {
    h4 {
      font-size: 19px;
      font-weight: 800;
      text-transform: uppercase;
    }

    p {
      font-size: 15px;
      color: #000;
    }
  }

  .styled-checkbox {
    opacity: 0; // hide it
    position: absolute;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 15px;
      font-weight: 600;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid #000;
      padding: 5px;
    }

    // Box hover
    label:before {
      background: #000000;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: #000000;
    }
  }

  .mobile-view .my-select {
    @media screen and (max-width: 768px) {
      border: 1px solid #000;
    }
  }

  .collapse-control {
    background: #fff;
  }

  .card-header {
    background-color: transparent;
    border-bottom: none;
  }

  .pay-btn {
    bottom: 0;
    width: 92%;
    button {
      text-transform: capitalize;
    }
  }
}
</style>
