<template>
  <div></div>
</template>

<script>
export default {
  name: 'Users',
  components: {},
  layout: 'admin',
  data() {
    return {}
  },
  head() {
    return {
      title: 'Landshares || Change Users',
    }
  },
  computed: {},
  async mounted() {},
}
</script>
