<template>
  <nav
    class="
      d-flex
      justify-content-between
      py-3
      px-4
      mobile-nav
      align-items-center
    "
  >
    <div class="d-flex align-items-center gap-3">
      <b-button
        v-b-toggle.mobile-sidebar
        variant="link"
        class="text-white p-0"
        size="lg"
      >
        <b-icon icon="list"></b-icon>
      </b-button>
      <p class="mb-0 text-capitalize">{{ title }}</p>
    </div>
    <div class="d-flex align-items-center gap-3">
      <div class="profile-pic-thumb">
        <b-img-lazy
          src="~png/pattern.png"
          rounded="circle"
          fluid-grow
          class="profile-pic-thumb"
        />
      </div>

      <b-dropdown variant="link" class="text-white p-0">
        <b-dropdown-item @click.prevent="logOut">Log Out</b-dropdown-item>
      </b-dropdown>
    </div>
  </nav>
</template>
<script>
export default {
  data() {
    return {
      titles: {
        dashboard: 'Dashboard',
        profile: 'Profile',
        properties: 'Properties',
        subscriptions: 'Subscriptions',
        wallet: 'My Wallet',
        realtor: 'Rewards',
      },
    }
  },
  computed: {
    paths() {
      return this.$route.path.split('/')
    },
    title() {
      return (this.paths[2] && this.titles[this.paths[2]]) || this.paths[2]
    },
  },
  methods: {
    logOut() {
      // this.$loading.show()
      this.$auth.logout()
    },
  },
}
</script>
<style lang="scss" scoped>
.mobile-nav {
  background: {
    color: var(--dark);
  }
  z-index: 1000;
  color: var(--white);
  .profile-pic-thumb {
    width: toRem(35);
    height: toRem(35);
  }
}
</style>
