<template>
  <aside class="sidebar py-5 px-4 d-flex flex-column justify-content-between">
    <div>
      <div
        class="
          d-flex
          flex-row
          justify-content-center
          align-items-center
          gap-4
          mb-5
          pt-5
        "
      >
        <b-img src="~png/logo.jpeg" fluid class="logo" rounded="circle" />
        <h1 class="text-center page-title">LandShares</h1>
      </div>
      <b-list-group class="sidebar-links">
        <b-list-group-item
          v-for="link in links"
          :key="link.name"
          class="sidebar-link p-0"
          :class="{ 'd-none': !link.show }"
        >
          <nuxt-link
            v-if="link.show"
            :to="{ name: link.name }"
            class="
              d-inline-flex
              px-5
              py-3
              w-100
              text-decoration-none
              gap-4
              align-items-center
            "
            ><b-img :src="link.image" fluid />{{ link.title }}</nuxt-link
          >
        </b-list-group-item>
      </b-list-group>
    </div>
    <div
      class="
        d-flex
        align-items-center
        gap-3
        profile-preview-box
        px-4
        py-3
        justify-content-between
      "
    >
      <div class="d-flex align-items-center gap-3">
        <b-img src="~png/1619527161510.png" class="profile-pic" fluid />
        <p class="profile-name mb-0 text-dark">
          {{ username }}
        </p>
      </div>
      <b-dropdown variant="link" class="text-dark p-0">
        <b-dropdown-item @click.prevent="logOut">Log Out</b-dropdown-item>
      </b-dropdown>
    </div>
  </aside>
</template>
<script>
export default {
  name: 'Sidebar',
  props: {
    links: {
      type: Array,
      required: false,
      default: () => [{ title: '', link: '' }],
    },
  },
  computed: {
    username() {
      return (
        this.$auth.user &&
        `${this.$auth.user.lastname} ${this.$auth.user.firstname}`
      )
    },
  },
  methods: {
    logOut() {
      // this.$loading.show()
      this.$auth.logout()
    },
  },
}
</script>
<style lang="scss" scoped>
.sidebar {
  background: {
    color: var(--white);
  }
  height: 100vh;
  .logo {
    width: toRes(61);
  }
  .page-title {
    color: var(--dark);
    font: {
      size: toRes(25);
      family: $secondary-font;
    }
  }
  .profile-preview-box {
    border: 1px solid var(--dark);
    box-shadow: 0 0 30px #090d7c0d;
    font: {
      size: toRes(20);
      weight: 500;
    }
    line-height: toRes(30);
  }
  .sidebar-links {
    border: 0;
  }
  .sidebar-link {
    border: 0;
    img {
      width: toRem(19);
      height: toRem(19);
    }
    a {
      font: {
        size: toRes(25);
        weight: 500;
      }
      color: var(--dark);
      &:hover,
      &.nuxt-link-active {
        background: {
          color: var(--dark);
          image: url('~png/menu-backdrop.png');
          position: center right;
          repeat: no-repeat;
        }
        color: var(--white);

        & img {
          filter: invert(1);
          mix-blend-mode: color-dodge;
        }
      }
    }
  }
}
</style>
