<template lang="">
  <div></div>
</template>
<script>
export default {
  middleware: [
    function ({ redirect }) {
      redirect({ name: 'customer-dashboard' })
    },
  ],
}
</script>
<style></style>
